<?php $this->logado() ?>
<!DOCTYPE html>
<html class="loading" lang="pt-br" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <?php $this->loadPage('head'); ?>
    <style>
        /* cores do painel */
        body.vertical-layout[data-color="bg-gradient-x-purple-blue"] .navbar-container, body.vertical-layout[data-color="bg-gradient-x-purple-blue"] .content-wrapper-before {
            background-color: #0d1423
;
            background-image: none;
        }
        .main-menu.menu-dark .navigation > li.hover > a, .main-menu.menu-dark .navigation > li:hover > a, .main-menu.menu-dark .navigation > li.active > a {
            color: #1d7aa2;
        }
        body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-dark .navigation .hover > a > i, body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-dark .navigation:hover > a > i, body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-dark .navigation .open > a > i {
            -webkit-box-shadow: 0px 0px 20px rgba(112, 167, 24, 0.3);
            box-shadow: 0px 0px 20px rgba(112, 167, 24, 0.3);
        }
        .main-menu.menu-dark .navigation > li.open > a {
            color: #1d7aa2;
        }
        .main-menu.menu-dark .navigation > li.open .hover > a::before {
            background-color: #1d7aa2;
            border-color: #1d7aa2;
        }
        .bold{
            font-weight: 900;
        }
    </style>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body id="conteudo" class="vertical-layout vertical-menu 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
    <?php $this->loadPage('menu'); ?>

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">
            <?php
            if ($this->pagelink <> 'sistema') {
                $this->loadPage('breadcrumb');
            }
            ?>
            <?php $this->content(); ?>
        </div>
    </div>
    <!-- END: Content-->

    <?php $this->loadPage('footer') ?>
    <?php $this->loadPage('scripts') ?>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <script>
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function(element, renderer) {
                return true;
            }
        };

        $('#btGerarPDF').click(function() {
            doc.fromHTML($('#tableconteudo').html(), 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });
            doc.save('export.pdf');
        });
    </script>
    <?php $this->loadPage('modal') ?>
</body>
<!-- END: Body-->

</html>