<!-- HERO SECTION --> 
	<section class="hero about col-md-12" style="background-image:url('<?php echo $this->view->obj->imagem ?>')">
		<div class="hero-inner">
			<h1><?php echo $this->view->obj->titulo ?></h1>
			<p><?php echo $this->view->obj->resumo ?>
 </p>
        <div id="line-scroll" style="display: block;">
          <div class="line-scroll" id="lsl"> <span class="line active"></span> </div>
        </div>
		</div>
	</section>

	<div class="wrapper container">

	<!-- ABOUT SECTION -->	
	<section class="about col-md-12 bottom_60">
        <!-- Image -->
            <div class="col-md-5 image">
                <img src="<?php echo $this->view->obj->imagem ?>" alt="">
            </div>
        <!-- Text -->
        <div class="col-md-6 col-md-offset-1 about-text">
            <div class="page-title bottom_30">
                <span><?php echo $this->view->obj->titulo ?></span>
                <h2 class="title"><?php echo $this->view->obj->resumo ?></h2>
            </div>
            <div>
                <?php echo $this->view->obj->texto ?>
            </div>
        </div>
	</section>

    <div class="line col-md-8 col-md-offset-2 top_120 bottom_120"></div>

    <!-- WHAT WE DO -->
    <section class="col-md-12 top_30 bottom_15" style="height: 200px;">
        <!-- work areas -->
        <div class="owl-carousel work-areas"  data-pagination="true" data-autoplay="3000" data-items-desktop="3" data-items-desktop-small="3" data-items-tablet="2" data-items-tablet-small="1">
            <?php foreach($this->view->services as $s){ ?>
                <!-- an area -->
                <div class="area col-md-12 item">
                    <div class="icon"> <i class="<?php echo $s->icon ?>"></i> </div>
                    <div class="text">
                        <h6><?php echo $s->title ?></h6>
                        <p><?php echo $s->text ?></p>
                    </div>
                </div>
            <?php } ?>
        </div>
    </section>    

	</div>