<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light navbar-border navbar-shadow">
    <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block"><?php echo date('Y') ?> &copy; <?php echo $this->datasite->copyright ?> <a class="text-bold-800 grey darken-2" href="#" target="_blank"><?php echo $this->datasite->title ?></a></span>
        <!--  <ul class="list-inline float-md-right d-block d-md-inline-blockd-none d-lg-block mb-0">
                <li class="list-inline-item"><a class="my-1" href="https://themeselection.com/" target="_blank"> More themes</a></li>
                <li class="list-inline-item"><a class="my-1" href="https://themeselection.com/support" target="_blank"> Support</a></li>
            </ul> -->
    </div>
</footer>
<!-- END: Footer-->