/*Fonts*/
@font-face {
    font-family: 'gotham-ultra';
    src: url('../fontes/gotham-ultra.otf');
}

@font-face {
    font-family: 'gotham-bold';
    src: url('../fontes/gotham-bold.otf'); 
}

@font-face {
    font-family: 'gotham-book';
    src: url('../fontes/gotham-book.otf');
}

@font-face {
    font-family: 'gotham-light';
    src: url('../fontes/gotham-light.otf');
}

@font-face {
    font-family: 'road-rage';
    src: url('../fontes/road-rage.otf');
}

*{
    outline: none!important;
    text-decoration: none!important;
}



h1, h2, h3, h4, h5, h6, p, a, i, span{
    color: $white;
}

p, a, span{
    font-size: 14px;
}

h1{
    font-family: 'gotham-ultra';
}

h2, h3, h4{
    font-family: 'gotham-bold';
}

h5, h6{
    font-family: 'gotham-book';
}

.badget-price{
    @include gradient-orange($orange-1, $orange-2);
    @include border-radius(15px);
    color: $white;
    padding: 10px 15px;
    font-family: 'gotham-bold';
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    strong{
        font-size: 20px;
        font-family: 'gotham-bold';
    }
}

.defaut-btn-gradient{
    color: $white;
    padding: 15px 20px;
    @include gradient-orange($orange-1, $orange-2);
    @include border-radius(50px);
    font-family: 'gotham-bold';
}

.btn-add-cart{
    color: $white;
    padding: 7px 15px;
    background-color: #99cc00;
    @include border-radius(50px);
    font-family: 'gotham-bold';
}


.defaut-btn-outline{
    color: $white;
    font-family: 'gotham-bold';
}

.btn-circle-gradient{
    color: $white;
    width: 70px;
    height: 70px;
    @include border-radius(50%);
    @include gradient-orange($orange-1, $orange-2);
    text-align: center;
    font-size: 2em;
    line-height: 55px;
}

.btn-circle-cart{
    color: $white;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    @include border-radius(50%);
    @include gradient-orange($orange-1, $orange-2);
}

.bar-little{
    width: 30px;
    height: 4px;
    display: block;
    @include border-radius(50px);
    @include gradient-orange($orange-1, $orange-2);
}

.bar-big{
    width: 50px;
    height: 4px;
    display: block;
    @include border-radius(50px);
    @include gradient-orange($orange-1, $orange-2);
}

.-border-btn{
    border: 7px solid $gray;
}

.-btn-aux{
    position: absolute;
    right: 20px;
    bottom: -30px;
  }

.dropdown-menu{
    background-color: $gray-dark!important;
    border-radius: 15px!important;
}

.dropdown-item{
    color: $white!important;
}

.card{
    border: 0!important;
    /* -webkit-box-shadow: 0px 6px 40px -19px rgba(0,0,0,0.93);
    -moz-box-shadow: 0px 6px 40px -19px rgba(0,0,0,0.93);
    box-shadow: 0px 6px 40px -19px rgba(0,0,0,0.93); */
}

.fixed-top{
    background-color: $gray-dark;
}

.slider-product{
    margin-top: 20px;
    .card-product {
        padding: 20px;
      .img-wrap {
        position: relative;
        text-align: center;
        img {
          max-height: 100%;
          max-width: 100%;
          object-fit: cover;
        }
      }
      .info-wrap {
        padding: 0 15px;
      }
      .bottom-wrap {
        padding: 0 15px;
        a{
            margin-top: -30px;
            display: block;
        }
        i{
          font-size: 30px;
          /* margin-top: -25px;
          display: block; */
        }
      }
    }
    
    .label-rating {
      margin-right: 10px;
      color: $gray-text;
      display: inline-block;
      vertical-align: middle;
    }
    
    .card-product .price-old {
      color: $white;
      font-family: 'gotham-bold';
    }
  }