/*Colors*/
$white: #fff;
$gray: #1a1a1a;
$gray-light: #5d5c5c;
$gray-dark: #171717;
$orange-1: #ea7214;
$orange-2: #a43a06;
$gray-text: #5d5c5c; 

/*Bootstrap*/
$font-family-sans-serif:      'Open Sans', sans-serif !default;
$font-family-monospace:       'Open Sans', sans-serif !default;
$font-family-base:            $font-family-sans-serif !default;

$card-border-width:                 0 !default;
$card-border-radius:                25px !default;
$card-border-color:                 0 !default;
$card-inner-border-radius:          25px !default;
$card-cap-bg:                       $gray-dark !default;
$card-bg:                           $gray-dark !default;

$card-img-overlay-padding:          1.25rem !default;

/*responsive dynamic system*/
//== Media queries breakpoints

// Extra small screen / phone
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

// Small screen / tablet
$screen-sm:                  850px;
$screen-sm-min:              $screen-sm;

// Medium screen / desktop
$screen-md:                  1024px;
$screen-md-min:              $screen-md;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$screen: "only screen";
$xs-up: $screen;
$xs-only: "#{$screen} and (max-width: #{$screen-xs-max})";

$sm-up: "#{$screen} and (min-width: #{$screen-sm-min})";
$sm-only: "#{$screen} and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";

$md-up: "#{$screen} and (min-width: #{$screen-md-max})";
$md-only: "#{$screen} and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";

$lg-up: "#{$screen} and (min-width: #{$screen-lg-min})";