header#header-boleto{
    margin-bottom: 150px;
    .ticket-code, .open-code{
        color: $gray-text;
        font-family: 'gotham-bold';
    }
    .card{
        padding: 20px 30px;

        
        span{
         font-family: 'gotham-bold';
         color: $white;
         line-height: 15px;
         display: block;
        }
    } 

    .box-info{
        .title{
            color: $white;
            font-family: 'gotham-ultra';
            line-height: 32px;
            font-size: 3em;
            span{
                font-family: 'gotham-bold';
                font-size: .3em;
            }
        }
    }

    .bar-big{
        margin: 15px auto;
    }
    

    .box-info-2{
        i{
            color: $white;
            font-size: 4em;
        }
        .title{
            color: $white;
            text-transform: uppercase;
            font-family: 'gotham-ultra';
            line-height: 26px;
            font-size: 1.8em;
            span{
                font-family: 'gotham-book';
                font-size: .6em;
                letter-spacing: 5px;
            }
        }

        .ticket{
            font-family: 'gotham-ultra';
            text-transform: uppercase;
            color: $white;
            margin: 0;
            @include gradient-orange($orange-1, $orange-2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }
    }
    .owl-dots {
        text-align: center;
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        margin: 0 auto;

        .active{
            width: 20px!important;
            @include gradient-orange($orange-1, $orange-2);
        }
        .owl-dot{
            outline: none;
            background-color: $gray-text;
            width: 10px;
            height: 10px;
            margin: 3px;
            @include border-radius(50px);
        }
    }
    .card-product{
        padding: 15px;
        margin-top: 30px;
        .info-wrap{
            .title{
                color: $white;
                font-family: 'gotham-bold';
            }
        }
        .bottom-wrap{
            .-aux{
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
            }
        }
    }
}

@media (max-width: 320px) {
    .-btn{
        font-size: 10px;
    }
}
