#header-carrinho{
    margin-bottom: 160px;
    .card{
        padding: 15px;
        i{
            position: absolute;
            right: 20px;
            top: 0;
        }
        .card-block{
            .card-title{
                color: $white;
                font-family: 'gotham-bold';
            }
            select{ 
                width: 60px;
            }
        }
    }

    .frete{
        color: $white;
        font-size: 1em;
        a{
            color: $white;
            font-family: 'gotham-bold';
            padding: 15px 20px;
            display: inline-block;
            padding: 8px 10px;
            white-space: nowrap;
            margin-left: 5px;
            @include gradient-orange($orange-1, $orange-2);
            @include border-radius(50px);
        }
    }

    .pedido{
        color: $white;
        font-size: 1em;
        span{
            font-family: 'gotham-bold';
        }
    }

    hr{
        background-color: $white;
        border: 0;
        height: 1px;
    }

    .box-address{
        background-color: #5a5a5a;
        padding: 25px 15px;
        @include border-radius(25px);
        .address{
            color: $white;
            font-family: 'gotham-bold';
            margin: 0;
        }

        a{
            color: $white;
        }
    }

    .total{
        color: $white;
        font-size: 18px;
        span{
            font-family: 'gotham-bold';
            font-size: 2em;
        }
    }
    .total-btn{
        white-space: nowrap;
    }

    .modal-content{
        background-color: $gray!important;
    }
}

/*medias*/
@media (max-width: 320px) {
    .card-title{
        font-size: 14px;
    }

    .box-address{
        .address{
            font-size: 1em;
        }
    }

}