#header-celular{
    margin-bottom: 150px;
    .bar-big{
        margin: 15px auto;
    }
    .box-info{
        i{
            font-size: 4em;
        }
        .title{
            color: $white;
            text-transform: uppercase;
            font-family: 'gotham-ultra';
            line-height: 26px;
            font-size: 1.8em;
            span{
                font-family: 'gotham-book';
                font-size: .6em;
                letter-spacing: 5px;
            }
        }
    }

    p{
        font-family: 'gotham-book';
        
    }

    .box-info-2{
        margin-top: 50px;
        .title{
            color: $white;
            font-family: 'gotham-bold';
            line-height: 18px;
            font-size: 1.3em;
            span{
                font-family: 'gotham-book';
                font-size: .8em;
                letter-spacing: 0;
                color: $gray-text;
                font-style: italic;
                @include border-radius(50px);
            }
        }
    }

    .defaut-btn-outline{
        border: 1px solid $white;
        display: inline-block;
        padding: 11px 20px;
        @include border-radius(50px);
        img{
            width: 110px;
        }
    }

    .box-pass{
        margin-top: 30px;
        padding: 10px;
        background-color: $gray-dark;
        @include border-radius(15px);
        i{
            font-size: 5em;
        }
    }

    .title-pass{
        margin-top: 10px;
        font-family: 'gotham-bold';
    }

}

/*medias*/
@media (max-width: 320px) {
    .box-pass{
        i{
            font-size: 3.5em!important;
        }
    }
}