#header-contato{
    margin-bottom: 200px;
    .bar-big{
        margin: 15px auto;
    }
    .box-info{
        .title{
            color: $white;
            text-transform: uppercase;
            font-family: 'gotham-ultra';
            line-height: 26px;
            font-size: 1.8em;
            span{
                font-family: 'gotham-book';
                font-size: .6em;
                letter-spacing: 5px;
            }
        }
    }

    .form-address{
        input, textarea{
            color: $white;
            font-family: 'gotham-bold';
            background-color: $gray-dark;
            padding: 15px;
            @include border-radius(15px);
        }
        label{
            @extend input;
            background-color: transparent;
        }

        .defaut-btn-gradient{
            @include border-radius(50px);
        }
         
    }
}

/*medias*/
@media (max-width: 320px) {

}