header#header-credito{
    margin-bottom: 150px;
    .box-info{
        .title{
            color: $white;
            font-family: 'gotham-ultra';
            line-height: 32px;
            font-size: 3em;
            span{
                font-family: 'gotham-bold';
                font-size: .3em;
            }
        }
    }
    .jp-card-container{
        width: auto;
    }

    .jp-card-front, .jp-card-back{
        @include gradient-orange($orange-1, $orange-2);
    }

    .jp-card .jp-card-front .jp-card-shiny, .jp-card .jp-card-back .jp-card-shiny{
        @include gradient-orange(#ebba51, #ffcf78);
        &:before{
            @include gradient-orange(#ebba51, #ffcf78);

        }
    }

    form{
        input{
            background-color: $gray-dark;
            color: $white;
            border: 0;
            padding: 16px;
            @include border-radius(0);
        }

        .button-pay{
            color: $white;
            font-family: 'gotham-bold';
            @include gradient-orange($orange-1, $orange-2);
        }
    }
}


/*medias*/
@media (max-width: 320px) {
    .jp-card-container{
        width: 350px!important;
    }
}