#header-desafios{
    margin-bottom: 150px;
    .bar-big{
        margin: 15px auto;
    }
    .box-info{
        .title{
            color: $white;
            font-family: 'gotham-bold';
            line-height: 18px;
            font-size: 1em;
        }
    }
    .validade-challenge{
        background-color: $gray-dark;
        @include border-radius(25px);

        img{
            opacity: .5;
        }

        .infos-validade{
            padding: 0 25px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            

            .title{
                color: $white;
                font-family: 'gotham-bold';
                font-size: 14px;
                margin: 0;
              }
      
              a{
                font-size: 14px;
                padding: 7px 15px;
                margin-top: 5px;
                display: inline-block;
                @include border-radius(15px 15px 0 0);
              }

            .progress{
                margin-top: 5px;
                margin-bottom: 15px;
                background-color: #5d5c5c62;
                @include border-radius(50px);
                .progress-bar{
                  @include border-radius(50px);
                  @include gradient-orange($orange-1, $orange-2);
                }
              }
        
              .label{
                font-family: 'gotham-bold';
                margin-top: 10px;
                display: block;
              }
        }
    }

    .box{
        position: relative;
        margin-bottom: 15px;
        .-aux-price{
          position: absolute;
          right: 9px;
          top: 6px;
          z-index: 1;
          -webkit-box-shadow: 0px 0px 55px -19px rgba(185,75,10,1);
          -moz-box-shadow: 0px 0px 55px -19px rgba(185,75,10,1);
          box-shadow: 0px 0px 55px -19px rgba(185,75,10,1);
  
          -webkit-box-shadow: inset 0px 0px 55px -19px rgba(185,75,10,1);
          -moz-box-shadow: inset 0px 0px 55px -19px rgba(185,75,10,1);
          box-shadow: inset 0px 0px 55px -19px rgba(185,75,10,1);
        }
        .challenges-bg{
          @include border-radius(25px);
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
        }
        .infos{
          position: absolute;
          bottom: 15px;
          left: 20px;
          
          .title{
            color: $white;
            font-family: 'gotham-bold';
            font-size: 14px;
            margin: 0;
          }
  
          a{
            font-size: 14px;
            padding: 7px 15px;
            margin-top: 5px;
            display: inline-block;
          }
        }
      }

}

/*medias*/
@media (max-width: 320px) {
  #header-desafios{
    .validade-challenge{
      min-height: auto!important;

    }
    .infos{
      bottom: 30px!important;
    }
    .infos-validade{
      bottom: 0!important;
    }
  }
}