#header-desafio-concluido{
    margin-bottom: 250px;
    .bar-big{
        margin: 15px auto;
    }
    .box-info{
        .title{
            color: $white;
            font-family: 'gotham-bold';
            line-height: 18px;
            font-size: 1em;
        }
    }

    .box-line{
        margin-bottom: 15px;
        background-color: $gray-dark;
        display: block;
        padding: 15px;
        @include border-radius(20px);
        i{
            padding: 5px 10px;
            font-size: 2em;
            @include gradient-orange($orange-1, $orange-2);
            @include border-radius(10px);
        }
        .challenge-name{
            color: $white;
            font-family: 'gotham-light';
            line-height: 15px;
            margin: 0;
            span{
                font-family: 'gotham-bold';
            }
        }

        .km{
            margin: 0;
            font-size: 2em;
            font-family: 'gotham-bold';
        }
    }
}

/*medias*/
@media (max-width: 320px) {
    .box-line{
        .col-2{
            display: none;
        }
    }
}