#header-deasfiar-amigo{
    margin-bottom: 250px;
    .bar-big{
        margin: 15px auto;
    }
    .box-info{
        .title{
            color: $white;
            text-transform: uppercase;
            font-family: 'gotham-ultra';
            line-height: 26px;
            font-size: 1.8em;
            span{
                font-family: 'gotham-book';
                font-size: .6em;
                letter-spacing: 5px;
            }

            .challenge-name{
                font-size: 1.5em;
                letter-spacing: 0;
                font-family: 'road-rage';
                @include gradient-orange($orange-1, $orange-2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .challenge{
        margin-top: 20px;
        font-family: 'gotham-bold';
        color: $white;
    }
}

/*medias*/
@media (max-width: 320px) {

}