#header-detalhe-desafio{
    margin-bottom: 150px;
    .card{
        padding: 30px 0;
        background-image: url("../images/bg-card.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        i{
            font-size: 5em;
        }

        .card-block{
            line-height: 10px;
            .card-title{
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 5px;
                color: $white;
                font-family: 'gotham-light';
                margin: 0;
                span{
                    font-size: 4em;
                    letter-spacing: 0;
                }

                .km{
                    font-size: 1.4em;
                    text-transform: lowercase;
                }
            }

            .old-run{
                color: $gray-text;
                font-family: 'gotham-bold';
                text-transform: uppercase;
                i{
                    font-size: 14px;
                    color: #45c682;
                }
            }
        }
    } 

    .box-info{
        margin-top: 30px;
        .title{
            color: $white;
            text-transform: uppercase;
            font-family: 'gotham-ultra';
            line-height: 26px;
            font-size: 4em;
            span{
                font-family: 'gotham-book';
                font-size: .2em;
                letter-spacing: 5px;
            }
        }

    }

    .box-rank{
        background-color: $gray-dark;
        padding: 30px 10px;
        line-height: 5px;
        @include border-radius(15px);
        i{
            font-size: 2em;
            display: block;
            margin-bottom: 10px;
        }

        .title{
            font-family: 'gotham-bold';
            color: $white;
            margin: 0;
        }

        span{
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 10px;
        }
    }

    .box-challenges{
        i{
            font-size: 3em;
        }

        p{
            font-size: 1em;
            color: $white;
            font-family: 'gotham-bold';
            line-height: 24px;
            margin: 0;
            text-transform: uppercase;
        }
        span{
            text-transform: uppercase;
            font-family: 'gotham-light';
            display: block;
            letter-spacing: 3px;
            font-size: .5em;
        }
    }

    #getting-started{
        color: $white;
        font-family: 'gotham-bold';
        display: -webkit-inline-box;
        font-size: 1em;
    }

    .ct-series-a .ct-line {
        stroke: $gray-text;
        stroke-width: 4px;
      }

      .ct-series-b .ct-line {
        stroke: $orange-1;
        stroke-width: 4px;
      }

      .ct-series-c .ct-line {
        stroke: $orange-2;
        stroke-width: 4px;
      }

      .ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie{
        fill: $gray-text;
      }
      
      .ct-series-a .ct-point {
        stroke: $gray-text;
        stroke-width: 12px;
      }

      .ct-chart .ct-label.ct-horizontal.ct-end {
        color: $gray-text;
        font-family: 'gotham-bold';
        position: relative;
        justify-content: flex-end;
        text-align: right;
        transform-origin: 100% 0;
        transform: translate(-100%) rotate(-45deg);
        white-space:nowrap;
      }

      .box-men{
          position: relative;
          .run{
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              margin: 0 auto;
              z-index: -1;
          }

          .shapes{
              @extend .run;
          }

          .defaut-btn-gradient{
            position: absolute;
            bottom: 70px;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: inline-block;
            width: 200px;
            padding: 11px 20px;
            @include rotate(-90deg);

            i{
                font-size: 16px;
                @include rotate(0deg);
            }
          }
      }

      .box-info2{
          margin-top: 50px;
        .bar-big{
            margin: 15px auto;
        }
        .title{
            color: $white;
            text-transform: uppercase;
            font-family: 'gotham-ultra';
            line-height: 26px;
            font-size: 1.8em;
            span{
                font-family: 'gotham-book';
                font-size: .6em;
                letter-spacing: 5px;
            }
        }
    }

    .box-medal{
        margin: 30px auto;
        position: relative;
        .circle{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: block;
            width: 300px;
            height: 300px;
            z-index: -1;
            @include gradient-orange($orange-1, $orange-2);
            @include border-radius(50%);
           /*  &:after{
                content: '';
                position: absolute;
                top: -50px;
                left: -55px;
                right: 0;
                margin: 0 auto;
                display: block;
                width: 400px;
                height: 400px;
                border: 1px solid #5d5c5c62;
                border-radius: 50%;
            }

            &:before{
                content: '';
                position: absolute;
                top: -125px;
                left: -128px;
                right: 0;
                margin: 0 auto;
                display: block;
                width: 550px;
                height: 550px;
                border: 1px solid #5d5c5c62;
                border-radius: 50%;
            } */
        }
    }

    

    .box-info3{
        .title{
            color: $white;
            font-family: 'gotham-bold';
            line-height: 18px;
            font-size: 1em;
        }
    }

    .box-line{
        margin-bottom: 15px;
        background-color: $gray-dark;
        display: block;
        padding: 15px;
        @include border-radius(20px);
        i{
            padding: 5px 10px;
            font-size: 2em;
            @include gradient-orange($orange-1, $orange-2);
            @include border-radius(10px);
        }
        .challenge-name{
            color: $white;
            font-family: 'gotham-light';
            line-height: 15px;
            margin: 0;
            span{
                font-family: 'gotham-bold';
            }
        }

        .km{
            margin: 0;
            font-size: 2em;
            font-family: 'gotham-bold';
        }
    }
      
}

/*medias*/
@media (max-width: 320px) {
    #header-detalhe-desafio{
        .box-rank{
            line-height: 8px;
            i{
                font-size: 1.5em!important;
            }

            .title{
                font-size: 18px;
            }

            span{
                text-transform: lowercase;
                letter-spacing: 0;
                font-size: 10px;
            }
        }

        .defaut-btn-gradient{
            padding: 7px 15px;
            font-size: 12px;
            white-space: nowrap;
        }

        .box-line{
            .col-2{
                display: none;
            }
        }
    }
}