#header-ganhe-6{
    margin-bottom: 150px;
    .card{
        padding: 30px 0;
        background-image: url("../images/bg-card.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        i{
            font-size: 5em;
        }

        .card-block{
            .card-title{
                font-size: 12px;
                letter-spacing: 5px;
                color: $white;
                font-family: 'gotham-light';
                span{
                    font-size: 4em;
                    letter-spacing: 0;
                }
            }
        }
    } 

    .bar-big{
        margin: 15px auto;
    }
    .box-info{
        .title{
            color: $white;
            text-transform: uppercase;
            font-family: 'gotham-ultra';
            line-height: 26px;
            font-size: 1.8em;
            span{
                font-family: 'gotham-book';
                font-size: .6em;
                letter-spacing: 5px;
            }
        }

        .ticket{
            font-family: 'gotham-ultra';
            text-transform: uppercase;
            color: $white;
            margin: 0;
            @include gradient-orange($orange-1, $orange-2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }
    }

    .box{
        padding: 15px;
        i{
            font-size: 3em;
        }

        p{
            font-family: 'gotham-bold';
            font-size: 13px;
        }
    }

    .-bg{
        background-color:$orange;

        &:nth-child(2){
            background-color:#ce560d;
        }
        
        &:nth-child(3){
            background-color:#a43a06;
        }
    }

    .box-video{
        position: relative;
        a{
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 180px;
        }
    }
}

/*medias*/
@media (max-width: 320px) {
    #header-ganhe-6{
        .card{
            i{
                font-size: 3em;
            }
    
            .card-block{
                .card-title{
                    font-size: 12px;
                    span{
                        font-size: 3em;
                    }
                }
            }
        }
    }
}