#header-gps{
    margin-bottom: 250px;
    /* background-image: url("../images/bg-men-lines.jpg");
    background-size: cover; */
    .bar-big{
        margin: 15px auto;
    }
    .box-info{
        .title{
            color: $white;
            text-transform: uppercase;
            font-family: 'gotham-ultra';
            line-height: 26px;
            font-size: 1.8em;
            span{
                font-family: 'gotham-book';
                font-size: .6em;
                letter-spacing: 5px;
            }
        }
    }

    .box-info-2{
        margin-top: 30px;
        .title{
            color: $white;
            text-transform: uppercase;
            font-family: 'gotham-ultra';
            line-height: 18px;
            font-size: 1.3em;
            span{
                font-family: 'gotham-book';
                font-size: .6em;
                letter-spacing: 5px;
            }
        }
    }

    .box-challenges{
        i{
            font-size: 3em;
        }

        p{
            font-size: 2em;
            color: $white;
            font-family: 'gotham-bold';
            line-height: 24px;
            margin: 0;
        }
        span{
            text-transform: uppercase;
            font-family: 'gotham-light';
            display: block;
            letter-spacing: 3px;
        }
    }

    .box-challenges-info{
        margin-top: 50px;
        span{
            text-transform: uppercase;
            font-family: 'gotham-light';
            display: block;
            letter-spacing: 3px;
        }

        p{
            font-size: 2.5em;
            color: $white;
            font-family: 'gotham-ultra';
            line-height: 40px;
            margin: 0;
        }
    }

    .progress{
        background-color: #000000;
        @include border-radius(50px);
        .progress-bar{
          @include border-radius(50px);
          @include gradient-orange($orange-1, $orange-2);
        }
      }

      .label{
        font-family: 'gotham-bold';
        margin-top: 10px;
        display: block;
      }

    #getting-started{
        color: $white;
        font-family: 'gotham-bold';
        display: -webkit-inline-box;
        font-size: 2em;
    }

    .defaut-btn-outline{
        display: inline-block;
        background-color: $gray-dark;
        padding: 10px 15px;
        color: $gray-text;
        @include border-radius(50px);
    }
}

/*medias*/
@media (max-width: 320px) {
    .box-challenges{
        i{
            font-size: 2em;
        }

        p{
            font-size: 1.5em!important;
            line-height: 24px;
        }
    }

    .box-challenges-info{
        span{
            font-size: .5em!important;
        }
        p{
            font-size: 1.8em!important;
            line-height: 40px;
        }
    }
}