body{
    overflow-x: hidden!important;
}

header#header-inscricao{ 
    margin-bottom: 140px;
    .box-info{
        margin-top: 30px;
        .bar-big{
            margin: 0 auto;
        }
        .title{
            color: $white;
            text-transform: uppercase;
            font-family: 'gotham-ultra';
            line-height: 26px;
            font-size: 1.8em;
            span{
                font-family: 'gotham-book';
                font-size: .6em;
                letter-spacing: 5px;
            }
        }
    }

    .box-medal{
        margin: 30px auto;
        position: relative;
        .circle{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: block;
            width: 300px;
            height: 300px;
            z-index: -1;
            @include gradient-orange($orange-1, $orange-2);
            @include border-radius(50%);
            &:after{
                content: '';
                position: absolute;
                top: -50px;
                left: -55px;
                right: 0;
                margin: 0 auto;
                display: block;
                width: 400px;
                height: 400px;
                border: 1px solid #5d5c5c62;
                border-radius: 50%;
            }

            &:before{
                content: '';
                position: absolute;
                top: -125px;
                left: -128px;
                right: 0;
                margin: 0 auto;
                display: block;
                width: 550px;
                height: 550px;
                border: 1px solid #5d5c5c62;
                border-radius: 50%;
            }
        }
    }

    .param{
        .title{
            margin-top: 30px;
            color: $white;
            font-family: 'gotham-bold';
        }
        .bar-little{
            margin: 0 auto;
        }
    }
    .sizes{
        .btn-size{
            background-color: $gray-dark;
            margin: 5px;
            font-family: 'gotham-bold';
            color: $white;
            @include border-radius(10px);
        }

        .active{
            box-shadow: none!important;
            outline: none!important;
            @include gradient-orange($orange-1, $orange-2);
            color: $white;
        }
    }
}

/*medias*/
@media (max-width: 380px) {
    .sizes{
        overflow-y: scroll;
        width: 285px;
        padding: 0 0 15px 0;
        
        .btn-size{
            /* margin: 4px;
            font-size: 10px; */
        }
    }
}