#header-kit{
    margin-bottom: 150px;
    .bar-big{
        margin: 15px auto;
    }
    .box-info{
        .title{
            color: $white;
            font-family: 'gotham-bold';
            line-height: 18px;

            a{
                color: $white;
                margin-top: 35px;
                display: inline-block;
            }
        }
    }

    .box {
      position: relative;
      text-align: center;
      .infos{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -45px;
        .-aux-price{
         margin-bottom: 5px;
         display: inline-block;
         padding: 4px 11px;
          z-index: 1;
          -webkit-box-shadow: 0px 0px 55px -19px rgba(185,75,10,1);
          -moz-box-shadow: 0px 0px 55px -19px rgba(185,75,10,1);
          box-shadow: 0px 0px 55px -19px rgba(185,75,10,1);
  
          -webkit-box-shadow: inset 0px 0px 55px -19px rgba(185,75,10,1);
          -moz-box-shadow: inset 0px 0px 55px -19px rgba(185,75,10,1);
          box-shadow: inset 0px 0px 55px -19px rgba(185,75,10,1);
        }
        .title{
          color: $white;
          font-family: 'gotham-bold';
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 4px;
          margin: 0;
          text-shadow: 3px 2px 9px rgba(0, 0, 0, 0.93);
        }
        .defaut-btn-gradient{
          padding: 8px 15px;
          display: inline-block;
        }
      }
    }
    
    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
      @include border-radius(25px);
    }
    
    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

    .button-cart{
      background-color: #99cc00;
      @include border-radius(18px);
      display: block;
      padding: 15px;
      font-family: 'gotham-bold';
      line-height: 15px;
      color: $white;
      span{
        font-family: 'gotham-book';
      }
      
    }
    
    .box:hover {
      .infos{
        display: none;
      }
      .image {
        opacity: 0.3;
        background-color: orange;
      }
      .middle {
        opacity: 1;
      }
    }
    
    .text {
      background-color: #4CAF50;
      color: white;
      font-size: 16px;
      padding: 16px 32px;
    }

    /* .box{
        position: relative;
        margin-bottom: 15px;
        position: relative;
            &:after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 100%;
                height: 130px;
                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
                @include border-radius(25px);
            }
        .-aux-price{
          position: absolute;
          right: 12px;
          top: 10px;
          z-index: 1;
          -webkit-box-shadow: 0px 0px 55px -19px rgba(185,75,10,1);
          -moz-box-shadow: 0px 0px 55px -19px rgba(185,75,10,1);
          box-shadow: 0px 0px 55px -19px rgba(185,75,10,1);
  
          -webkit-box-shadow: inset 0px 0px 55px -19px rgba(185,75,10,1);
          -moz-box-shadow: inset 0px 0px 55px -19px rgba(185,75,10,1);
          box-shadow: inset 0px 0px 55px -19px rgba(185,75,10,1);
        }
        .active{
            border: 4px dashed $orange-1; 
        }
        .challenges-bg{
          background-color: $gray-dark;
          @include border-radius(25px);
        }
        .infos{
          position: absolute;
          bottom: 25px;
          left: 0;
          right: 0;
          margin: 0 auto;
          z-index: 1;
          
          .title{
            color: $white;
            font-family: 'gotham-bold';
            text-transform: uppercase;
            font-size: 2em;
            font-size: 14px;
            margin: 0;
          }
  
          a{
            font-size: 14px;
            padding: 7px 15px;
            margin-top: 5px;
            display: inline-block;
          }
        }
      } */

}

/*medias*/
@media (max-width: 320px) {
    
}