#header-loja{
    margin-bottom: 100px;
    
    .drop-menu{
        font-size: 16px;
        letter-spacing: 0;
        text-transform: lowercase;
        font-family: 'gotham-book';
        i{
            color: $gray-text;
        }

        
    }
    .dropdown-item{
        padding: .65rem 1.5rem!important;
    }
    .card-product{
        padding: 15px;
        position: relative;

        .btn-add-cart{
            position: absolute;
            bottom: -9px;
            left: 0;
            right: 0;
            padding: 3px 10px;
            text-align: center;
        }
        .info-wrap{
            .title{
                color: $white;
                font-family: 'gotham-bold';
            }
        }
        .bottom-wrap{
            .-aux{
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
            }
        }
    }

}    


