#header-mapa{
    margin-bottom: 200px;
    .bar-big{
        margin: 15px auto;
    }
    .box-info{
        .title{
            color: $white;
            font-family: 'gotham-bold';
            line-height: 14px;
            font-size: .8em;
            span{
                font-family: 'gotham-book';
                text-transform: uppercase;
                font-size: 1.2em;
                letter-spacing: 5px;
            }
        }
    }

    .img-dynamic-upload{
        @include border-radius(15px);
    }

    .form-address{
        .bg-input{
            background-color: $gray-dark;
            @include border-radius(15px);

            i{
                font-size: 1.4em;
            }
        }
        input{
            color: $white;
            font-family: 'gotham-bold';
            background-color: $gray-dark;
            padding: 15px;
            @include border-radius(15px);
        }
        label{
            @extend input;
            background-color: transparent;
        }

        .defaut-btn-gradient{
            @include border-radius(50px);
        }
         
    }
}

/*medias*/
@media (max-width: 320px) {

}