#header-outros-apps{
    margin-bottom: 150px;
    .bar-big{
        margin: 15px auto;
    }
    .box-info{
        i{
            font-size: 4em;
        }
        .title{
            color: $white;
            text-transform: uppercase;
            font-family: 'gotham-ultra';
            line-height: 26px;
            font-size: 1.8em;
            span{
                font-family: 'gotham-book';
                font-size: .6em;
                letter-spacing: 5px;
                font-style: italic;
            }
        }
    }

    p{
        font-family: 'gotham-bold';
        span{
            font-family: 'gotham-book';
        }
    }

    .box-info-2{
        margin-top: 50px;
        .title{
            color: $white;
            font-family: 'gotham-bold';
            line-height: 18px;
            font-size: 1.3em;
            span{
                font-family: 'gotham-book';
                font-size: .8em;
                letter-spacing: 0;
                color: $gray-text;
                font-style: italic;
                
            }
        }
    }

    .box-video{
        position: relative;
        a{
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 180px;
        }
    }

    .box-pass{
        margin-top: 30px;
        padding: 10px;
        background-color: $gray-dark;
        @include border-radius(15px);
        i{
            font-size: 5em;
        }
    }

    .title-pass{
        margin-top: 10px;
        font-family: 'gotham-bold';
    }

}

/*medias*/
@media (max-width: 320px) {
    .box-pass{
        i{
            font-size: 3.5em!important;
        }
    }
}