header#header-pagamento{
    margin-bottom: 150px;
    .card{
        padding: 30px 15px;
        background-image: url("../images/bg-card.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border: 3px dashed $orange!important;
        .card-block{
            .card-title{
                font-size: 12px;
                letter-spacing: 5px;
                color: $white;
                font-family: 'gotham-light';
                span{
                    font-size: 4em;
                    letter-spacing: 0;
                }
            }
        }

        .custom-control{
            position: relative;
            &:after{
                font-family: "Flaticon";
                content: "\f121";
                position: absolute;
                @include rotate(90deg);
                left: -4px;
                top: -32px;
                font-size: 1.5em;
                color: #14ea2e;
            }
        }

        input{
            outline: none;
            box-shadow: none;
        }
        .custom-control-label::before{
            background-color: $gray-text;
            @include border-radius(5px);
        }
        .custom-control-label::after{
            background-color: $gray-text;
            @include border-radius(5px);
        }

        .-label-check{
            font-family: 'gotham-bold';
            color: $white;
        }
    } 

    .box-info{
        .title{
            color: $white;
            font-family: 'gotham-ultra';
            line-height: 32px;
            font-size: 3em;
            span{
                font-family: 'gotham-bold';
                font-size: .3em;
            }
        }

        .subtitle{
            margin-top: 20px;
            font-family: 'gotham-bold';
            text-transform: uppercase;
            font-size: 1.5em;
            color: $white;
        }
    }
    .video-btn{
        color: $white;
        background-color: transparent;
        font-family: 'gotham-book';
    }

    .list-seal{
        li{
            margin: -6px;
            span{
                color: $white;
                font-family: 'gotham-bold';
                i{
                    color: #139b01;
                }
            }
        }
        
    }

    .title-pay{
        color: $gray-text;
        font-family: 'gotham-bold';
        font-size: 16px;
    }
    .box{
        padding: 30px 0;
        background-color: $gray-dark;
        min-height: 173px;
        @include border-radius(25px);
        i{
            font-size: 4em;
        }
        .text{
            font-family: 'gotham-book';
            line-height: 15px;
            margin: 0;
            span{
                font-family: 'gotham-bold';
            }
        }

        &:focus{
            @include gradient-orange($orange-1, $orange-2);
        }
    }

    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }
  
  .modal-body {
    position:relative;
    padding:0px;
  }
  .close {
    position: absolute;
    right: 8px;
    padding: 15px;
    top: 8px;
    z-index: 999;
    font-size: 14px!important;
    font-weight: normal;
    color:$white;
    @include gradient-orange($orange-1, $orange-2);
    opacity:1;
  }
}


/*medias*/
@media (max-width: 320px) {
    .box{
        min-height: 190px!important;
    }
    .list-seal{
        li{
            span{
               font-size: 12px;
            }
        }
        
    }
}