header#header-produto{ 
    margin-bottom: 140px;
    .slider-product-page{
        position: relative;
        .owl-dots {
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            margin: 0 auto;

            .active{
                width: 20px!important;
                @include gradient-orange($orange-1, $orange-2);
            }
            .owl-dot{
                outline: none;
                background-color: $gray-text;
                width: 10px;
                height: 10px;
                margin: 3px;
                @include border-radius(50px);
            }
        }
        .card-product{
            padding: 35px;
            .product{
                width: 200px;
                margin: 0 auto;
            }
        }
    }

    .title{
        color: $white;
        font-family: 'gotham-bold';
    }

    .price-detail-wrap{
        .currency, .num{
            color: $white;
            font-size: 1em;
            font-family: 'gotham-bold';
        }

        .parc{
            color: $gray-text;
            font-family: 'gotham-book';
            font-size: 1.2em;
        }
    }

    .colors{
        .btn-color{
            position: relative;
            width: 36px;
            height: 36px;
            margin: 5px;
            font-family: 'gotham-bold';
            color: $white;
            /* text-align: center;
            display: inline-table; */
            @include border-radius(10px);
            &:nth-child(1){
                background-color: #e77013;
            }

            &:nth-child(2){
                background-color: #ef3b3b;
            }

            &:nth-child(3){
                background-color: #1984e8;
            }

            &:nth-child(4){
                background-color: #ff00ff;
            }

            &:nth-child(5){
                background-color: $gray-dark;
            }
        }

        .active{
            box-shadow: none!important;
            outline: none!important;
            color: $white;
            &:after{
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                content: '\f00c';
                font-size: 12px;
                display: block;
                line-height: 23px;
            }
        }
    }

    .defaut-btn-gradient{
        display: inline-block;
    }

    .sizes{
        .btn-size{
            background-color: $gray-dark;
            margin: 5px;
            font-family: 'gotham-bold';
            color: $white;
            @include border-radius(10px);
        }

        .active{
            box-shadow: none!important;
            outline: none!important;
            @include gradient-orange($orange-1, $orange-2);
            color: $white;
        }
    }

    .slider-depositions{
        .owl-dots {
            /* position: absolute; */
            bottom: 10px;
            left: 0;
            right: 0;
            margin: 0 auto;

            .active{
                width: 20px!important;
                @include gradient-orange($orange-1, $orange-2);
            }
            .owl-dot{
                outline: none;
                background-color: $gray-text;
                width: 10px;
                height: 10px;
                margin: 3px;
                @include border-radius(50px);
            }
        }

        .rating {
            /* float:left; */
          }
      
          /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
            follow these rules. Every browser that supports :checked also supports :not(), so
            it doesn’t make the test unnecessarily selective */
          .rating:not(:checked) > input {
              position:absolute;
              top:-9999px;
              clip:rect(0,0,0,0);
          }
      
          .rating:not(:checked) > label {
              /* float:right; */
              width:1em;
              /* padding:0 .1em; */
              overflow:hidden;
              white-space:nowrap;
              cursor:pointer;
              font-size: 20px;
              margin: 0;
              /* line-height:1.2; */
              color:#ddd;
          }
      
          .rating:not(:checked) > label:before {
              content: '★ ';
          }
      
          .rating > input:checked ~ label {
              color: $orange-1;
              
          }
      
          .rating:not(:checked) > label:hover,
          .rating:not(:checked) > label:hover ~ label {
              color: $orange-1;
              
          }
      
          .rating > input:checked + label:hover,
          .rating > input:checked + label:hover ~ label,
          .rating > input:checked ~ label:hover,
          .rating > input:checked ~ label:hover ~ label,
          .rating > label:hover ~ input:checked ~ label {
              color: $orange-1;
              
          }
      
          .rating > label:active {
              position:relative;
              top:2px;
              left:2px;
          }
    }
}