#header-promocao{
    margin-bottom: 150px;

    .bar-big{
        margin: 15px auto;
    }
    .box-info{
        .title{
            color: $white;
            text-transform: uppercase;
            font-family: 'gotham-ultra';
            line-height: 26px;
            font-size: 1.8em;
            span{
                font-family: 'gotham-book';
                font-size: .6em;
                letter-spacing: 5px;
            }
        }
    }

    .box-info-2{
        .title{
            color: $white;
            font-family: 'gotham-bold';
            line-height: 20px;
            font-size: 1.3em;
            span{
                font-family: 'gotham-book';
                font-size: .7em;
                color: $gray-text;
                font-style: italic;
            }
        }
    }

    .box-sup{
        position: relative;
        padding: 25px 15px;
        background-color: $gray-dark;
        @include border-radius(15px);
        .price{
            font-family: 'gotham-bold';
            text-transform: uppercase;
            line-height: 17px;
            font-size: .8em;
            margin-top: 15px;
            span{
                font-family: 'gotham-book';
            }
        }

        .defaut-btn-gradient{
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;  
            margin: 0 auto;
            width: 85px;
            padding: 5px 10px;
        }
    }
    .timer{
        font-size: 3em;
    }
    #getting-started{
        color: $white;
        font-family: 'gotham-bold';
        display: -webkit-inline-box;
        font-size: 2em;
    }

    .defaut-btn-outline{
        display: inline-block;
        border: 1px solid $white;
        padding: 10px 15px;
        @include border-radius(50px);
    }
}

/*medias*/
@media (max-width: 320px) {
    #header-promocao{
        .box-sup{
            .price{
                font-size: .8em;
            }
        }
        .timer{
            font-size: 2em;
        }
        .defaut-btn-gradient{
            bottom: -5px;
            font-size: 10px;
            width: 75px!important;
            padding: 5px 10px;
        }
        .defaut-btn-outline{
            padding: 7px 10px;
            font-size: 12px;
        }

        #getting-started{
            color: $white;
            font-family: 'gotham-bold';
            display: -webkit-inline-box;
            font-size: 1.3em;
        }
    }
}