#header-strava{
    margin-bottom: 150px;
    .bar-big{
        margin: 15px auto;
    }
    .box-info{
        .title{
            color: $white;
            font-family: 'gotham-bold';
            line-height: 18px;
            font-size: 1em;
        }
    }

    .box{
        position: relative;
        margin-bottom: 15px;
        .-aux-price{
          position: absolute;
          right: 9px;
          top: 6px;
          z-index: 1;
          -webkit-box-shadow: 0px 0px 55px -19px rgba(185,75,10,1);
          -moz-box-shadow: 0px 0px 55px -19px rgba(185,75,10,1);
          box-shadow: 0px 0px 55px -19px rgba(185,75,10,1);
  
          -webkit-box-shadow: inset 0px 0px 55px -19px rgba(185,75,10,1);
          -moz-box-shadow: inset 0px 0px 55px -19px rgba(185,75,10,1);
          box-shadow: inset 0px 0px 55px -19px rgba(185,75,10,1);
        }
        .challenges-bg{
          @include border-radius(25px);
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
        }
        .infos{
          position: absolute;
          bottom: 15px;
          left: 20px;
          
          .title{
            color: $white;
            font-family: 'gotham-bold';
            font-size: 14px;
            margin: 0;
          }
  
          a{
            font-size: 14px;
            padding: 7px 15px;
            margin-top: 5px;
            display: inline-block;
          }
        }
      }

      .defaut-btn-gradient{
          white-space: nowrap
      }

      .title-upload{
        font-family: 'gotham-bold';
        margin-top: 50px;
      }

      .file-upload {
        background-color: $gray-dark;
        @include border-radius(25px);
        width: 100%;
        margin: 0 auto;
        padding: 20px;
      }
      
      .file-upload-btn {
        width: 100%;
        margin: 0;
        color: #fff;
        background: #1FB264;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #15824B;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
        &:hover {
          background: #1AA059;
          color: #ffffff;
          transition: all .2s ease;
          cursor: pointer;
        }
        &:active {
          border: 0;
          transition: all .2s ease;
        }
      }
      
      .file-upload-content {
        display: none;
        text-align: center;
      }
      
      .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
      }
      
      .image-upload-wrap {
        /* border: 4px dashed $gray-text; */
        position: relative;
      }
      
     /*  .image-dropping, .image-upload-wrap:hover {
        background-color: #1FB264;
        border: 4px dashed #ffffff;
      } */
      
      .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: #222;
      }
      
      .drag-text {
        text-align: center;
        i{
            color: $gray-text;
            font-size: 6em;
        }
        p {
          font-family: 'gotham-book';
          color: $gray-text;
          font-style: italic;
          /* padding: 60px 0; */
        }
      }
      
      .file-upload-image {
        max-height: 200px;
        max-width: 100%;
        margin: auto;
        padding: 20px;
      }
      
      .remove-image {
        width: 100%;
        margin: 0;
        color: #fff;
        background: #cd4535;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b02818;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
        &:hover {
          background: #c13b2a;
          color: #ffffff;
          transition: all .2s ease;
          cursor: pointer;
        }
        &:active {
          border: 0;
          transition: all .2s ease;
        }
      }
}

/*medias*/
@media (max-width: 320px) {
    
}