#header-validar-detalhe{
    margin-bottom: 260px;
    .bar-big{
        margin: 15px auto;
    }
    .box-info{
        .title{
            color: $white;
            font-family: 'gotham-bold';
            line-height: 18px;
            font-size: 1em;
        }
    }

    .active{
        position: relative!important;
        &:after{
            content: '';
            @include gradient-orange($orange-1, $orange-2);
            @include border-radius(50%);
            display: block;
            width: 150px;
            height: 150px;
            position: absolute;
            top: -200px;
            right: 0;
            left: 0;
            margin: 0 auto;
            z-index: -1;
        }
    }
    .medal-selection{
        position: relative;
       
        p{
            font-family: 'gotham-bold';
            line-height: 16px;
        }
    }
}

/*medias*/
@media (max-width: 320px) {
    .active{
        position: relative!important;
        &:after{
            content: '';
            width: 120px!important;
            height: 120px!important;
            top: -150px!important;
        }
    }
}