<!-- HERO SECTION --> 
	<section class="hero contact col-md-12">
		<div class="hero-inner">
			<h1><?php echo $this->view->titlehead ?></h1>
			<p>Precisa tirar o seu projeto do papel? Entre em contato conosco<br>e descubra o que podemos fazer por você.</p>
        <div id="line-scroll" style="display: block;">
          <div class="line-scroll" id="lsl"> <span class="line active"></span> </div>
        </div>
		</div>
	</section>

<div class="wrapper container">

    <!-- CONTACT SECTION -->	
    <section class="contact col-md-12">
        <!-- Contact Info -->
            <div class="col-md-3 contact-info">
                <div class="page-title bottom_30">
                    <span><?php echo $this->view->titlehead ?></span>
                    <h2 class="title">Entrar em contato</h2>
                </div>
                <ul>
                    <li>R. Artur de Azevedo, 1217 - Pinheiros São Paulo - SP </li>
                    <br>
                    <li>contato@creativedd.com.br <br> (11) 985814778 / (11) 2538-0280 </li>
                </ul>
                <div class="social top_45">
                    <a href="mailto:<?php echo $this->datasite['config']->emailsend ?>"><i class="fa fa-envelope-o" aria-hidden="true"></i>  </a>
                    <a href="https://www.instagram.com/creativestudiodesigner/?hl=pt-br" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>  </a>
                    <a href="https://www.behance.net/felipehenriquesilva" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i>  </a>
                    <a href="https://www.facebook.com/creativedevdesign/?modal=admin_todo_tour" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>  </a>
                    <a href="https://www.youtube.com/creativedevdesign" target="_blank" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i>  </a>
                    <a href="https://api.whatsapp.com/send?phone=5511959806811&text=Olá%21%20Eu%20vim%20através%20do%20site%20e%20gostaria%20de%20solicitar%20um%20orçamento." target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>  </a>
                </div>
            </div>

        <!-- Contact Form -->
            <div class="col-md-7 col-md-offset-2 form top_90 bottom_90">
                <div class="page-title sub bottom_30 col-md-12">
                    <span>CONTATO</span>
                    <h5 class="title">Deixe uma mensagem</h5>
                </div>
                <form class="col-md-12 contact-form" method="POST" id="contact-form" action="/contato/post">
                    <div class="row">
                        <!--Name-->
                        <div class="col-md-6">
                            <input id="name" required name="name" class="form-inp requie" type="text" placeholder="Nome" title="Nome">
                        </div>
                        <!--Email-->
                        <div class="col-md-6">
                            <input id="email" required name="email" class="form-inp requie" type="email" placeholder="E-mail" title="E-mail">
                        </div>
                        <div class="col-md-6">
                            <input id="phone" required name="phone" class="form-inp requie" type="text" placeholder="Telefone" title="Telefone">
                        </div>
                        <!--Email-->
                        <div class="col-md-6">
                            <input id="subject" required name="subject" class="form-inp requie" type="text" placeholder="Assunto" title="Assunto">
                        </div>
                        <div class="col-md-12">
                            <!--Message-->
                            <textarea name="message" required id="message" class="requie" placeholder="Como podemos ajudá-lo?" rows="8"></textarea>
                            <button id="con_submit" onclick="register('#contact-form')" class="sitebtn top_45 pull-right" type="button">Enviar</button>
                        </div>
                        <div class="col-md-12">
                            <div id="status_response" class="d-none text-center mt-2 mb-2">
                                <div class="fa-3x">
                                    <i class="text-dark fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <div class="text-center p-t-115">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="response"></div>
                                    </div>
                                </div>
                            </div>

                        </div>    
                    </div>
                </form>
            </div>
    </section>
</div>