<footer class="top_120">
	   <div class="container">
            <div class="socials pull-left">
                <a href="/home" class="footer-logo pull-left"><img src="<?php echo $this->datasite['config']->logo ?>" alt=""></a>
                <!-- <a href="mailto:contato@creativestudiodesigner.com.br">Email</a> -->
                <a href="https://www.behance.net/felipehenriquesilva" target="_blank">Behance</a>
                <a href="https://www.instagram.com/creativestudiodesigner/?hl=pt-br" target="_blank">Instagram</a>
                <a href="https://www.facebook.com/creativedevdesign/?modal=admin_todo_tour" target="_blank">Facebook</a>
                <a href="https://www.youtube.com/creativedevdesign" target="_blank">Youtube</a>
                <a href="https://api.whatsapp.com/send?phone=5511985814778&text=Olá%21%20Eu%20vim%20através%20do%20site%20e%20gostaria%20de%20solicitar%20um%20orçamento." target="_blank">Whatsapp</a>
            </div>
            <div class="copyright pull-right">
                Copyright <?php echo date('Y').' '.$this->datasite['config']->copyright ?> 
                <span><?php echo $this->datasite['config']->title ?></span> 
            </div>
       </div>
	</footer>