<title><?php echo $this->view->titlehead.' | '.$this->datasite['config']->title ?></title>
	<meta charset="UTF-8">
	<meta name="author" content="<?php echo $this->datasite['config']->title ?>">
	<meta name="description" content="<?php echo $this->datasite['seo']->description ?>">
	<meta name="robots" content="noarchive">
	<meta name="reply-to" content="<?php echo $this->datasite['config']->emailsend ?>
">
	<meta name="keywords" content="<?php echo $this->datasite['seo']->keywords ?>">
	<meta property="og:locale" content="pt-br">
	<meta property="og:url" content="https://www.creativedd.com.br">
	<meta property="og:title" content="<?php echo $this->datasite['config']->title ?>">
	<meta property="og:site_name" content="<?php echo $this->datasite['config']->title ?>">
	<meta property="og:description" content="<?php echo $this->datasite['seo']->description ?>">
	<meta property="og:image" content="<?php echo $this->url_default_template ?>/img/banner-facebook.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1600"> 
	<meta property="og:image:height" content="1200"> 
	<meta property="og:type" content="website">
	<meta http-equiv="Content-Language" content="pt-br">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W5Q7MPK');</script>
<!-- End Google Tag Manager -->
	
	<link rel="icon" href="<?php echo $this->url_default_template ?>/img/favicon.png"> 

	<!-- Stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,900" rel="stylesheet">
	<link rel="stylesheet" href="<?php echo $this->url_default_template ?>/css/owl.theme.min.css" />
    <link rel="stylesheet" href="<?php echo $this->url_default_template ?>/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="<?php echo $this->url_default_template ?>/css/bootstrap.css"/>
	<link rel="stylesheet" href="<?php echo $this->url_default_template ?>/css/style.css"/>
    
    <!-- Font icons -->
    <link rel="stylesheet" href="<?php echo $this->url_default_template ?>/icon-fonts/web-design/flaticon.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="<?php echo $this->url_default_template ?>/icon-fonts/font-awesome-4.5.0/css/font-awesome.min.css"/>
	<style>
		.d-none{
			display: none;
		}
	</style>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149106164-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149106164-1');
</script>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
