<!-- HEADER -->
<header>
    	<a href="/home" class="logo pull-left">
			<img src="<?php echo $this->datasite['config']->logo ?>" alt="">
        </a>
		<div class="hamburger pull-right">
			<div id="nav-icon">
			  <span></span>
			  <span></span>
			  <span></span>
			</div>
		</div>
	</header>

	<div class="nav">
		<ul class="menu">
			<li><a href="/home">Home</a></li>
			<li><a href="/home#portifolio">Portfólio</a></li>
			<li><a href="/sobre">Sobre</a></li>
            <!-- <li><a href="/blog">Blog</a></li> -->
			<li><a href="/contato">Contato</a></li>
            <li class="social">
                <div class="social">
                    <a href="mailto:<?php echo $this->datasite['config']->emailsend ?>"><i class="fa fa-envelope-o" aria-hidden="true"></i>  </a>
                    <a href="https://www.instagram.com/creativestudiodesigner/?hl=pt-br" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>  </a>
                    <a href="https://www.behance.net/felipehenriquesilva" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i>  </a>
                    <a href="https://www.facebook.com/creativedevdesign/?modal=admin_todo_tour" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>  </a>
                    <a href="https://www.youtube.com/creativedevdesign" target="_blank" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i>  </a>
                    <a href="https://api.whatsapp.com/send?phone=5511959806811&text=Olá%21%20Eu%20vim%20através%20do%20site%20e%20gostaria%20de%20solicitar%20um%20orçamento." target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>  </a>
                </div>
            </li>
		</ul>
	</div>