<!-- Javascripts -->
<script src="<?php echo $this->url_default_template ?>/js/plugins.js"></script>
<script src="<?php echo $this->url_default_template ?>/js/main.js"></script>
<script src="<?php echo $this->url_default_template ?>/vendor/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
<script>
    $(document).ready(function(){
        $('.bg-image, .post-wide .post-image, .post.single .post-image').each(function(){
            var src = $(this).children('img').attr('src');
            $(this).css('background-image','url('+src+')').children('img').hide();
        });
    
        var $bgVideo = $('.bg-video');
        if($bgVideo) {
            $bgVideo.YTPlayer();
        }
        if($(window).width() < 1200 && $bgVideo) {
            $bgVideo.prev('.bg-video-placeholder').show();
            $bgVideo.remove()
        }

    });
</script>
<script>
    function register(form) {
        var postData = $(form).serializeArray();
        var formURL = $(form).attr("action");
        var validate = 0;
        $('#status_response').removeClass('d-none');
        $('form' + form + ' .form-inp[required]').each(function () {
            if (!$(this).val()) {
            alertmsg('O campo ' + $(this).attr('title') + ' é obrigatório!', 'alert-danger');
            $(this).addClass('is-invalid');
            $('#status_response').addClass('d-none');
            validate++;
            return false;
            }
        });

        if (validate == 0) {
            $.ajax({
            type: "POST",
            url: formURL,
            data: postData,
            dataType: 'json',
            success: function (data) {
                var response = data['response'];
                $('#status_response').addClass('d-none');
                alertmsg(response['mensagem'], response['classe'])

                if (response['result'] == 'error') {
                $('.validate-input').each(function () {
                    if ($(this).val() == '') {
                    $(this).addClass('is-invalid');
                    }
                });
                return false;
                } else {
                window.location.replace(response['redirect']);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#status_response').addClass('d-none');
                alertmsg('Ocorreu um erro inesperado, por favor tente mais tarde!', 'alert-danger');
                return false;
            }
            });
        }

    }

    function alertmsg(msg, classe) {
        $('#status_response').addClass('d-none');
        $('#response').html('<div style="margin-top:10px" role="alert">' + msg + '</div>');
        $('#response').removeClass('alert alert-danger');
        $('#response').removeClass('alert alert-success');
        $('#response').addClass('alert ' + classe);
        $("#response").slideDown();
        setTimeout(function () {
            $("#response").slideUp();
        }, 4000);
    }
</script>