header .logo img {
  width: 180px; }

.hero .hero-inner h1 {
  /* background-image: -webkit-linear-gradient(left, #7e47f6, #fc2b00);
  background-image: -moz-linear-gradient(left, #7e47f6, #fc2b00);
  background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
  background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
  background-image: linear-gradient(to right, #593dd5, #fc2b00); */
  /* background-image: rgba(127,71,246,1);
  background-image: -moz-linear-gradient(45deg, rgba(127,71,246,1) 0%, rgba(9,93,239,1) 30%, rgba(207,60,230,1) 65%, rgba(255,84,201,1) 100%)!important;
  background-image: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(127,71,246,1)), color-stop(30%, rgba(9,93,239,1)), color-stop(65%, rgba(207,60,230,1)), color-stop(100%, rgba(255,84,201,1)))!important;
  background-image: -webkit-linear-gradient(45deg, rgba(127,71,246,1) 0%, rgba(9,93,239,1) 30%, rgba(207,60,230,1) 65%, rgba(255,84,201,1) 100%)!important;
  background-image: -o-linear-gradient(45deg, rgba(127,71,246,1) 0%, rgba(9,93,239,1) 30%, rgba(207,60,230,1) 65%, rgba(255,84,201,1) 100%)!important;
  background-image: -ms-linear-gradient(45deg, rgba(127,71,246,1) 0%, rgba(9,93,239,1) 30%, rgba(207,60,230,1) 65%, rgba(255,84,201,1) 100%)!important;
  background-image: linear-gradient(45deg, rgba(127,71,246,1) 0%, rgba(9,93,239,1) 30%, rgba(207,60,230,1) 65%, rgba(255,84,201,1) 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f47f6', endColorstr='#ff54c9', GradientType=1 )!important; */ }

.bg-dynamic-text {
  border-radius: 15px;
  padding: 5px 20px;
  display: inline-block;
  background: -webkit-linear-gradient(left, #7e47f6, #fc2b00);
  background: -moz-linear-gradient(left, #7e47f6, #fc2b00);
  background: -ms-linear-gradient(left, #593dd5, #fc2b00);
  background: -o-linear-gradient(left, #593dd5, #fc2b00);
  background: linear-gradient(to right, #593dd5, #fc2b00); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* .bg-video-placeholder {
  display: none;
  z-index: -1;
} */
.position-relative {
  position: relative;
  height: 100vh; }

.btn-about {
  display: inline-block !important;
  margin-top: 0 !important;
  text-decoration: none !important; }

.title-project {
  margin-bottom: 0 !important; }

.description-project {
  width: 550px;
  margin: 0 auto;
  text-align: center; }

/*# sourceMappingURL=my_style.css.map */
