<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                        <a data-action="collapse">
                            <i class="ft-minus"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="reload">
                            <i class="ft-rotate-cw"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="expand">
                            <i class="ft-maximize"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="close">
                            <i class="ft-x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <div class="card-text">
                    <?php if (isset($this->view->errormessage)) { ?>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert <?php echo $this->view->classe ?>">
                                    <?php echo $this->view->errormessage ?>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                    <div id="status_response" class="d-none text-center mt-2 mb-2">
                        <div class="fa-3x">
                            <i class="text-dark fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="text-center p-t-115">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="response"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Nome">Nome</label>
                                <input type="text" required name="name" title="Nome completo" value="<?php echo $this->view->obj->name ?>" class="form-control round" placeholder="Nome completo">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="E-mail">E-mail</label>
                                <input type="email" required name="email" title="E-mail" value="<?php echo $this->view->obj->email ?>" class="form-control round" placeholder="Insira o email do usuário">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Celular">Celular</label>
                                <input type="text" required name="phone" title="Celular" value="<?php echo $this->view->obj->phone ?>" class="form-control round mobilephone" placeholder="Insira o celular do usuário">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Celular">Usuário</label>
                                <input type="text" required name="user" onkeypress="valida('#usuario')" title="Usuário" value="<?php echo $this->view->obj->user ?>" class="form-control round" id="usuario" placeholder="Digite o usuário">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Celular">Senha</label>
                                <input type="password" name="password" title="Senha" <?php echo $this->view->obj->iduser == '' ? 'required' : '' ?> class="form-control round" id="password" placeholder="Digite sua senha">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Celular">Confirmar Senha</label>
                                <input type="password" name="password" title="Confirmar Senha" <?php echo $this->view->obj->iduser == '' ? 'required' : '' ?> class="form-control round" id="password_again" placeholder="Confirmar senha">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="Grupo de Acesso">Grupo de Acesso</label>
                                <select class="form-control round" required title="Grupo de Acesso" name="idgroup" id="input4">
                                    <option selected disabled>Selecione um Grupo</option>
                                    <?php foreach ($this->view->groups as $g) { ?>
                                        <option <?php echo ($g->idgroup == $this->view->obj->idgroup ? "selected" : ""); ?> value="<?php echo $g->idgroup ?>"><?php echo $g->description ?></option>
                                    <?php } ?>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                        <div class="col-sm-10">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status">Sim</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status2">Não</label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="<?php echo $this->view->obj->iduser ?>">
                    <input type="hidden" name="password_old" value="<?php echo $this->view->obj->password ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button>
                </form>
            </div>
        </div>
    </div>
</div>