<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                        <a data-action="collapse">
                            <i class="ft-minus"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="reload">
                            <i class="ft-rotate-cw"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="expand">
                            <i class="ft-maximize"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="close">
                            <i class="ft-x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <div class="card-text">
                    <?php if (isset($this->view->errormessage)) { ?>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert <?php echo $this->view->classe ?>">
                                    <?php echo $this->view->errormessage ?>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                    <div id="status_response" class="d-none text-center mt-2 mb-2">
                        <div class="fa-3x">
                            <i class="text-dark fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="text-center p-t-115">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="response"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="form-group">
                        <label class="sr-only" for="Página">Página</label>
                        <input type="text" required name="title" title="Página" value="<?php echo $this->view->obj->title ?>" class="form-control round" placeholder="Digite aqui sua Página">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="Página">Função</label>
                        <input type="text" name="function" title="Função" value="<?php echo $this->view->obj->function ?>" class="form-control round" placeholder="Digite aqui a Função">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="Página">Ordem</label>
                                <input min='0' type="number" required name="order" title="Ordem" value="<?php echo $this->view->obj->order ?>" class="form-control round" placeholder="Digite aqui a Ordem">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="Nivel">Nivel</label>
                                <select class="form-control round" name="level" id="input4">
                                    <option <?= (0 == $this->view->obj->level ? "selected" : ""); ?> value="0">Nível Principal</option>
                                    <?php foreach ($this->view->levelzero as $g) { ?>
                                        <option <?= ($g->idmenu == $this->view->obj->level ? "selected" : ""); ?> value="<?= $g->idmenu ?>"><?= $g->title ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="timesheetinput2">Icone</label>
                        <div class="position-relative has-icon-left">
                            <input type="text" required onblur="trocaicone(this.value)" id="icone" name="icon" class="form-control" placeholder="Digite aqui o Icone" value="<?php echo $this->view->obj->icon ?>">
                            <small><a target="_blank" href="http://fontawesome.com/">Veja mais icones</a></small>
                            <div class="form-control-position">
                                <i id="mostraicone" style="font-size: 15px; color: black" class="<?= $this->view->obj->icon ?>"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Grupos:</label>
                        <div class="col-sm-10">
                            <?php for ($i = 0; $i < count($this->view->groups['group']); $i++) { ?>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="groups[]" <?php echo $this->view->groups['ckecked'][$i]  ?> class="custom-control-input" id="customCheck<?php echo $this->view->groups['group'][$i]->idgroup ?>" value="<?php echo $this->view->groups['group'][$i]->idgroup ?>">
                                    <label class="custom-control-label" for="customCheck<?php echo $this->view->groups['group'][$i]->idgroup ?>"><?php echo $this->view->groups['group'][$i]->description ?></label>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                        <div class="col-sm-10">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status">Sim</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status2">Não</label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idmenu ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button>
                </form>
            </div>
        </div>
    </div>
</div>