<style>
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background: linear-gradient(45deg, #fc2b00 0%, #593dd5 100%);
    border: none;
}
</style>
<section class="hero blog-hero col-md-12" style="background-image:url('<?php echo $this->image ?>')">
    <div class="hero-inner">
        <h1> <?php echo $this->view->titlehead ?> </h1>
        <p>Think of a <span>creative digital agency</span> in Madrid, <br> turning your dreams into reality.</p>
    <div id="line-scroll" style="display: block;">
        <div class="line-scroll" id="lsl"> <span class="line active"></span> </div>
    </div>
    </div>
</section>

<div class="wrapper container-fluid">
    
    <!-- BLOG SECTION -->	
    <section class="blogs row">
        <?php foreach($this->view->blogs as $b){ ?>
            <!-- a blog -->
            <a href="/blog/<?php echo $this->url_generate($b->title) ?>/<?php echo $b->idblog ?>" class="post">
                <div class="container">
                    <div class="col-md-8 col-md-offset-2 post-inner">
                        <h2 class="post-title"><?php echo $b->title ?></h2>
                        <p><?php echo $b->resume ?></p>
                        <div class="blog-info">Posted <span><?php echo date('d M Y', strtotime($b->posting_date)); ?></span> by <?php echo $b->user->name ?></div>
                    </div>
                </div>
                <img class="blog-preview" src="<?php echo $this->image ?>" alt="<?php echo $b->title ?>">
            </a>
            <div class="line col-md-4 col-md-offset-4"></div>
        <?php } ?>
        
    </section>
    <div class="row mt-4">
        <div class="col-lg-12">
            <nav aria-label="Page navigation">
                <ul class="pagination pull-right">
                    <?php if($this->view->paginacao > 1){?>
                        <li class="page-item">
                            <a class="page-link" href="/blog/<?php echo $this->view->paginacao ?>" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                        </li>
                    <?php } ?>
                    <?php

                    $pags = ceil($this->view->total/$this->view->registros);

                    for($i = $this->view->paginacao; $i < $this->view->paginacao + $this->view->max_links; $i++) {
                        if ($i <= $pags){ ?>
                            <li class="page-item <?php if($this->view->paginacao == $i){echo 'active';} ?>"><a class="page-link" <?php if($this->view->paginacao == $i){?> href="#" <?php }else{ ?>href="/blog/<?php echo $i ?>"<?php } ?>><?php echo $i ?></a></li>
                    <?php }
                    } ?>

                    <?php
                    if($this->view->paginacao < $pags){ ?>
                        <li class="page-item"><a class="page-link" href="/blog/<?php echo $this->view->paginacao ?>"><i class="fas fa-chevron-right"></i></a></li>
                    <?php }?>
                </ul>
            </nav>
        </div>
    </div>
</div>