<!-- HERO SECTION --> 
	<section class="hero blog col-md-12" style="background: url('<?php echo $this->view->obj->image ?>') center center;">
		<div class="hero-inner">
            <div class="container">
    			<h1><?php echo $this->view->obj->title ?></h1>
    			<p>Posted <?php echo date('d M Y', strtotime($this->view->obj->posting_date)); ?> by <?php echo $this->view->obj->user->name ?></p>
                <div id="line-scroll" style="display: block;">
                  <div class="line-scroll" id="lsl"> <span class="line active"></span> </div>
                </div>
            </div>
		</div>
	</section>

	<div class="wrapper">
	<!-- BLOG SECTION -->	
	   <section class="blogs-single">
            <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 article">
                    <?php echo $this->view->obj->text ?>
                </div>
            </div>

            <div class="row">
                <!-- Post Comment -->
                <div class="col-md-10 col-md-offset-1 post-comment top_60">
                    <h2 class="second-title">Post Comments</h2>
                    <!-- a comment -->
                    <div class="comment row">
                        <div class="col-md-2 col-sm-3 col-xs-2 image">
                            <img src="<?php echo $this->url_default_template ?>/img/about.jpg" alt="">
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-10">
                            <h6>Charles A. Bullock</h6>
                            <span>March 19, 2018</span>
                            <p>He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there.</p>
                            <a href="#" class="reply top_15"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                        </div>
                    </div>
                    <!-- a comment -->
                    <div class="comment reply row">
                        <div class="col-md-2 col-sm-3 col-xs-2 image">
                            <img src="<?php echo $this->url_default_template ?>/img/about.jpg" alt="">
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-10">
                            <h6>Mary R. Peterson</h6>
                            <span>March 19, 2018</span>
                            <p>He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there.</p>
                            <a href="#" class="reply top_15"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                        </div>
                    </div>
                    <!-- a comment -->
                    <div class="comment row">
                        <div class="col-md-2 col-sm-3 col-xs-2 image">
                            <img src="<?php echo $this->url_default_template ?>/img/about.jpg" alt="">
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-10">
                            <h6>Geoffrey B. Ashley</h6>
                            <span>March 19, 2018</span>
                            <p>He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there.</p>
                            <a href="#" class="reply top_15"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Leave Comment -->
            <div class="row">
                <div class="leave-comment col-md-10 col-md-offset-1 top_60">
                    <h2 class="second-title">Leave Reply</h2>
                    <form class="contact-form top_45">
                        <div class="row">
                            <!--Name-->
                            <div class="col-md-6">
                                <input id="con_name" name="con_name" class="form-inp" type="text" placeholder="Name">
                            </div>
                            <!--Email-->
                            <div class="col-md-6">
                                <input id="con_email" name="con_email" class="form-inp" type="text" placeholder="Email">
                            </div>
                            <div class="col-md-12">
                                <!--Message-->
                                <textarea name="con_message" id="con_message" class="requie" placeholder="Message" rows="8"></textarea>
                                <button id="con_submit" class="sitebtn top_30 pull-left" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

       </section>
	</div>