<!-- HERO SECTION --> 
	<section class="hero work col-md-12" style="background-image:url('<?php echo $this->view->obj->bgpage ?>')"> 
        <div class="hero-inner">
            <h1 class="title-project"><?php echo $this->view->obj->title ?></h1>
            <p class="description-project"><?php echo $this->view->obj->description ?></p>
            <div id="line-scroll" style="display: block;">
                <div class="line-scroll" id="lsl"> <span class="line active"></span> </div>
            </div>
        </div>
	</section>

	<div class="wrapper container">

	    <!-- CONTENT SECTION -->	
        <section class="contact col-md-12 text-center">
            <!-- Big Image -->
            <div class="big-img col-md-12 bottom_60">
                <img src="<?php echo $this->view->obj->image ?>" alt="">
            </div>
            <?php foreach($this->view->obj->images as $i){ ?>
                <!-- Big Image -->
                <div class="big-img col-md-12 bottom_60">
                    <img src="<?php echo $i->image ?>" alt="">
                </div>
            <?php } ?>

            <?php if($this->view->obj->video <> ''){ ?>
                <div class="col-md-12 work-video bottom_90">
                    <iframe width="100%" src="<?php echo $this->view->obj->video ?>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            <?php } ?>

            <div class="social">
                <a href="mailto:<?php echo $this->datasite['config']->emailsend ?>"><i class="fa fa-envelope-o" aria-hidden="true"></i>  </a>
                <a <?php echo $this->view->obj->instagram == '' ? 'class="d-none"' : '' ?> href="<?php echo $this->view->obj->instagram ?>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>  </a>
                <a <?php echo $this->view->obj->behance == '' ? 'class="d-none"' : '' ?> href="<?php echo $this->view->obj->behance ?>" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i>  </a>
                <a <?php echo $this->view->obj->facebook == '' ? 'class="d-none"' : '' ?> href="<?php echo $this->view->obj->facebook ?>" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>  </a>
                <a <?php echo $this->view->obj->video == '' ? 'class="d-none"' : '' ?> href="<?php echo $this->view->obj->video ?>" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i>  </a>
                <a href="https://api.whatsapp.com/send?phone=5511959806811&text=Olá%21%20Eu%20vim%20através%20do%20site%20e%20gostaria%20de%20solicitar%20um%20orçamento." target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>  </a>
            </div>

            <!-- Controller -->
            <div class="controller col-md-10 col-md-offset-1 top_120">
                <?php if(isset($this->view->prev->idportifolio)){ ?>
                    <a href="/portifolio/<?php echo $this->url_generate($this->view->prev->title) ?>/<?php echo $this->view->prev->idportifolio ?>" class="link pull-left text-left">
                        <div class="where">Anterior </div>
                        <span><?php echo $this->view->prev->title ?></span>
                    </a>
                <?php } ?>
                <?php if(isset($this->view->next->idportifolio)){ ?>
                <div class="cont-line"></div>
                <a href="/portifolio/<?php echo $this->url_generate($this->view->next->title) ?>/<?php echo $this->view->next->idportifolio ?>" class="link pull-right text-right">
                    <div class="where">Próximo </div>
                    <span><?php echo $this->view->next->title ?></span>
                </a>
                <?php } ?>
            </div>

        </section>
	</div>