<!-- HERO SECTION --> 
	<section class="hero col-md-12">
        <div class="bg-video" data-property="{videoURL:'<?php echo $this->view->banner->video ?>',
            showControls: false,
            containment:'self',
            startAt:1,
            mute:true,
            autoPlay:true,
            loop:true,
            opacity:1,
            optimizeDisplay:true,
            quality:'hd1080'}"></div>
        <div class="bg-image bg-video-placeholder"><img src="<?php echo $this->view->banner->image ?>" alt=""></div>
        <div class="hero-inner">
			<h1> <?php echo $this->view->banner->text ?> <span class="bg-dynamic-text"><?php echo $this->view->banner->description ?></span> </h1>
            <p><?php echo $this->view->banner->link ?></p>
            <a href="/sobre" id="con_submit" class="sitebtn top_30 btn-about" type="submit">Conheça-nos</a>
            <div id="line-scroll" style="display: block;">
                <div class="line-scroll" id="lsl"> <span class="line active"></span> </div>
            </div>
		</div>
	</section>

	<div class="wrapper container">

        <!-- PORTFOLIO SECTION -->	
        <section id="portfolio" class="portfolio col-md-12">
            <!-- Portfolio Filter -->
            <div class="col-md-3">
                <div class="left-filter-section">
                    <div class="page-title left">
                        <span>PORTFÓLIO</span>
                        <h2 class="title">Nós criamos <br> experiências</h2>
                    </div>
                    <div class="portfolio-filter">
                        <ul>
                            <li class="select-cat" data-filter="*">Todos</li>
                            <?php foreach($this->view->portifolio as $p){ ?>
                                <li data-filter=".<?php echo $this->url_generate($p->title) ?>"><?php echo $p->title ?></li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Images -->
            <div class="col-md-9">
                <div class="isotope_items row">
                    <!-- Item -->
                    <?php foreach($this->view->portifolio as $c){
                         foreach($c->portifolios()->orderBy('porder', 'ASC')->get() as $p){ ?>
                        <a href="/portifolio/<?php echo $this->url_generate($p->title) ?>/<?php echo $p->idportifolio ?>" class="col-md-6 col-sm-6 col-xs-12 single_item <?php echo $this->url_generate($c->title) ?>">
                            <figure>
                                <img src="<?php echo $p->image ?>" alt="<?php echo $p->title ?>">
                                <figcaption>
                                    <h3><?php echo $p->title ?></h3>
                                    <p><?php echo $c->title ?></p>
                                </figcaption>
                            </figure>
                        </a>
                    <?php }
                    } ?>
                </div>
            </div>
        </section>
	</div>