header#header-add-status{
    background-color: $white;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    @include border-radius(0 0 25px 25px);

  .edit-icon{
      i{
          font-size: 14px;
      }
    } 
  }

  section#section-add-status-02{
      .overlay-content{
          /* overflow-y: scroll;
          height: 100px; */
          .-active{
            color: $green-1;
          }
      }
      .-aux{
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
      }
  }
