header#header-conversando{
    background-color: $white;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    @include border-radius(0 0 25px 25px);

    .form-filter{
      position: relative;
      .btn-filter{
        position: absolute;
        right: 0;
        top: 50%;
        margin: -19px auto;
      }
    }

    
  }
  
  section#section-conversando-01{
    position: relative;
    .title{
      color: $white;
      font-family: 'avenir-bold';
    }

    .box-filters{
        .-aux{
            padding: 6px 10px!important;
        }
        .no-bg{
            background: $gray-light!important;
        }
    }

   
  }
  
  /*Medias*/
  @media (max-width: 320px) {
    .sidebar-wrapper{
        width: 95%;
        .sidebar-menu{
          ul li a{
            letter-spacing: 2px;
            font-size: 9px;
          }
        }
    }
  
    #show-sidebar .bars{
        width: 13px;
        &:nth-child(1),
        &:nth-child(2){
            width: 18px;
        }
    }
  
    .drop-menu{
        font-size: 10px;
        letter-spacing: 3px;
    }
  
      .-btn-aux{
        bottom: -40px;
      }

      
  }