.demo{
    position: relative; 
    margin: 0 auto;
  
    .box-level{
      position: absolute;
      z-index: 1;
      width: 59px;
      text-align: center;
      line-height: 15px;
      padding: 5px 6px;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      @include gradient-orange($green-1, $green-2);
      @include border-radius(8px);
      strong{
        font-weight: normal;
      }
    }
  
    .imgProgress-progress {
      position: relative;
    }
    
    .imgProgress-img {
      @include border-radius(50%);
      position: absolute;
    }
    
    .imgProgress-circle {
      stroke-width: 32;
    }
    
    .imgProgress-svg {
      transform: rotate(90deg);
      @include border-radius(50%);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
  .drop-menu{
    color: $gray-text;
    background-color: transparent;
    border: 0;
    font-family: 'avenir-bold';
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 14px;
    outline: none!important;

  }
  .dropdown-item{
    padding: .65rem 1.5rem!important;
  }
  
  .list-icons-menu{
    padding: .375rem .75rem;
    li{
      a{
        position: relative;
        i{
          color: $green-1;
          font-size: 25px;
          border: 1px solid $gray-light;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 29px;
        }
  
        .badge {
          display: inline-block;
          background-color: lighten(red, 20%);
          border-radius: 50%;
          color: #fff;
          padding: 0.5em 0.75em;
          position: relative;
          top: -15px;
          left: -5px;
        }
        
        .pulsate::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          animation: pulse 1s ease infinite;
          border-radius: 50%;
          border: 4px double lighten(red, 20%);
        }
        
        @keyframes pulse {
          0% {
            transform: scale(1);
            opacity: 1;
          }
          60% {
            transform: scale(1.3);
            opacity: 0.4;
          }
          100% {
            transform: scale(1.4);
            opacity: 0;
          }
        }
      }
    }
  }
  
  
  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
  
    10% {
      transform: rotate(10deg);
    }
  
    30% {
      transform: rotate(0deg);
    }
  
    40% {
      transform: rotate(-10deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    60% {
      transform: rotate(5deg);
    }
  
    70% {
      transform: rotate(0deg);
    }
  
    80% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  
  @keyframes sonar {
    0% {
      transform: scale(0.9);
      opacity: 1;
    }
  
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  
  .page-wrapper .sidebar-wrapper {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .sidebar-wrapper {
    .sidebar-brand > a, .sidebar-dropdown > a:after, .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before, ul li a i {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  
  .page-wrapper .page-content {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .sidebar-wrapper {
    .sidebar-menu ul li a {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  
  #show-sidebar, #close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  /*----------------page-wrapper----------------*/
  
  .page-wrapper {
    /* height: 100vh; */
    .theme {
      width: 40px;
      height: 40px;
      display: inline-block;
      @include border-radius(4px);
      margin: 2px;
      &.chiller-theme {
        background: #1e2229;
      }
    }
    &.toggled .sidebar-wrapper {
      left: 0px;
    }
  }
  
  /*----------------toggeled sidebar----------------*/
  
  @media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
      padding-left: 300px;
    }
  }
  
  /*----------------show sidebar button----------------*/
  
  #show-sidebar {
    transition-delay: 0.3s;
    .bars{
      text-align: center;
      width: 20px;
      height: 4px;
      margin: 4px auto;
      border-radius: 50px;
      background-color: $green-1;
      display: block;
      &:nth-child(2){
        width: 30px;
      }
    }
  }
  
  /* .page-wrapper.toggled #show-sidebar {
    left: -40px;
  } */
  
  /*----------------sidebar-wrapper----------------*/
  
  .sidebar-wrapper {
    width: 388px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -400px;
    z-index: 999999;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    a {
      text-decoration: none;
    }
  }
  
  /*----------------sidebar-content----------------*/
  
  .sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
    &.desktop {
      overflow-y: hidden;
    }
  }
  
  /*--------------------sidebar-brand----------------------*/
  
  .sidebar-wrapper {
    .sidebar-brand {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      > a {
        color: $gray-text;
        text-transform: uppercase;
        font-weight: bold;
        flex-grow: 1;
        font-family: 'avenir-regular';
        letter-spacing: 4px;
        i{
          color: $gray-text;
        }
      }
      #close-sidebar {
        cursor: pointer;
        font-size: 20px;
        transform: rotate(-180deg);
      }
    }
    .sidebar-header {
      margin-top: 70px;
      padding: 20px;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #313131;
        display: block;
        width: 200px;
        height: 200px;
        z-index: -2;
        opacity: .4;
        @include border-radius(50%);
      }
  
      &:before{
        content: '';
        position: absolute;
        top: -36px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #313131;
        display: block;
        width: 270px;
        height: 270px;
        z-index: -2;
        opacity: .2;
        @include border-radius(50%);
      }
      .user-name{
        margin-top: 25px;
        letter-spacing: 5px;
        font-family: 'avenir-bold';
      }
  
      .infos-run{
        margin-top: 20px;
        i{
          font-size: 5em;
        }
  
        .km{
          .runner-km{
            color: $white;
            text-transform: uppercase;
            font-size: 3em;
            line-height: 25px;
            font-family: 'avenir-bold';
            span{
              font-family: 'avenir-regular';
              letter-spacing: 5px;
            }
          }
        }
      }
  
      .incomplete-record{
        margin-top: 30px;
        .progress{
          background-color: #000000;
          @include border-radius(50px);
          .progress-bar{
            @include border-radius(50px);
            @include gradient-orange($green-2, $green-1);
          }
        }
  
        .label{
          font-family: 'avenir-bold';
          margin-top: 10px;
          display: block;
        }
  
        .list-record{
          margin-top: 10px;
          li{
            i{
              color: red;
            }
  
            span{
              font-family: 'avenir-bold';
              font-size: 20px;
            }
          }
        }
      }
    }
    
    .sidebar-menu {
      padding-bottom: 10px;
      display: inline-block;
      .header-menu span {
        font-weight: bold;
        font-size: 14px;
        padding: 15px 20px 5px 20px;
        display: inline-block;
      }
      ul li a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        position: relative;
        padding: 8px 30px 8px 20px;
        text-transform: uppercase;
        font-family: 'avenir-regular'!important;
        letter-spacing: 5px;
        font-size: 14px;
        i {
          margin-right: 10px;
          font-size: 2em;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
        }
        &:hover > i::before {
          display: inline-block;
          animation: swing ease-in-out 0.5s 1 alternate;
        }
      }
      
    }
  }
  /*--------------------------page-content-----------------------------*/
  
  /* .page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
    > div {
      padding: 20px 40px;
    }
    overflow-x: hidden;
  }
   */
  /*------scroll bar---------------------*/
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $gray-text;
    border: 0px none #ffffff;
    @include border-radius(0);
    &:hover, &:active {
      background: $gray-text;
    }
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    @include border-radius(50px);
    &:hover, &:active {
      background: transparent;
    }
  }
  
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  /*-----------------------------chiller-theme-------------------------------------------------*/
 
  .chiller-theme {
    .sidebar-wrapper {
      background: $white;
      /* background-image: url("../images/menu/bg-menu.jpg"); */
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  
  .menu-bottom{
    position: fixed;
    bottom: 0;
    background-color: $gray-dark;
    z-index: 3;
    width: 100%;
    height: 85px;
    padding: 10px 0 10px 0px;
    .btn-home{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 30px;
      width: 90px;
      height: 90px;
      font-size: 50px;
      line-height: 85px;
      margin: 0 auto;
      box-shadow: inset 0 0 50px #e49150, inset 20px 0 80px #ea7214, inset -20px 0 80px #a43a06, inset 20px 0 300px #ea7214, inset 0px 0 300px #a43a06, 0 0 50px #E49150, 0px 0 19px #ea7214, 0 0 30px #a43a06;
    }
    
  .-one{
    position: fixed;
    bottom: 10px;
    left: 5px;
    width: 70px;
  }
  
  .-two{
    @extend .-one;
    left: 85px;
  }
  
  .-three{
    @extend .-one;
    left: auto;
    right: 75px;
  }
  
  .-four{
    @extend .-one;
    left: auto;
    right: 5px;
  }
  
  
    .link{
      i{
        font-size: 30px;
      }
      span{
        font-family: 'avenir-bold';
      }
    }
  }
  
  header#header-dashboard{
    background-color: $white;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    @include border-radius(0 0 25px 25px);

    .form-filter{
      position: relative;
      .btn-filter{
        position: absolute;
        right: 0;
        top: 50%;
        margin: -19px auto;
      }
    }
  }
  
  section#section-01{
    position: relative;
    .title{
      color: $white;
      font-family: 'avenir-bold';
    }
   
  }
  
  /*Medias*/
  @media (max-width: 320px) {
    .sidebar-wrapper{
        width: 95%;
        .sidebar-menu{
          ul li a{
            letter-spacing: 2px;
            font-size: 9px;
          }
        }
    }
  
    #show-sidebar .bars{
        width: 13px;
        &:nth-child(1),
        &:nth-child(2){
            width: 18px;
        }
    }
  
    .drop-menu{
        font-size: 10px;
        letter-spacing: 3px;
    }
  
      .-btn-aux{
        bottom: -40px;
      }

      
  }