header#header-editar-usuario{
    background-color: $white;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    @include border-radius(0 0 25px 25px);

  .edit-icon{
      i{
          font-size: 14px;
      }
    } 

    .btn-open-contact{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -20px;
        width: 170px;
        max-width: 100%;
    }
  }