/*pages and configurations default*/
@import 'variables';
@import 'config';
@import 'mixins';
@import '../vendor/bootstrap/scss/bootstrap.scss'; 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html,body{
  overflow-x: hidden;
}

header#header{
    position: relative;

    .nav-sample{
        .-active{
            color: $green-dark!important;
            font-weight: 700;
        }
        .nav-item{
            .nav-link{
                color: $gray;
                border-radius: 80px;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -o-transition: .5s;
                transition: .5s;
                &:hover{
                    color: $green-dark;
                }
            }
        } 
    }

    .top-bar{
      background-color: $green-dark;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      padding: 125px 0;
      .title{
        color: $white;
      }
    }

    .side-nav{
      .-active{
          color: $green-dark!important;
          font-weight: 700;
      }
      .nav-item{
          .nav-link{
              color: $white;
              border-radius: 80px;
              -webkit-transition: .5s;
              -moz-transition: .5s;
              -o-transition: .5s;
              transition: .5s;
              &:hover{
                  color: $white;
              }
          }
      } 
  }

  .social{
    position: absolute;
    z-index: 2;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 50%;
    left: -110px;
    margin-top: -50px;
    li{
      a{
        color: $gray;
        padding: 25px 7px;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        &:hover{
          color: $green-dark;
          border-top: 4px solid $green-dark;
        }
      }
    }
  }
      .navbar-expand-lg .navbar-nav.side-nav {
        flex-direction: column;
      }
      
      .leftmenutrigger {
        display: none;
      }
      
      @media (min-width: 992px) {
        .leftmenutrigger {
          display: block;
          display: block;
          margin: 7px 50px 6px 13px;
          cursor: pointer;
        }
        #wrapper {
          padding: 0;
        }
        .navbar-nav.side-nav {
          &.open {
            left: 0;
          }
          background-image: url("../images/bg-menu.jpg");
          background-size: cover;
          background-position: center center;
          /* background: $green-dark; */
          box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.1);
          position: fixed;
          top: 0;
          flex-direction: column !important;
          left: -320px;
          width: 300px;
          overflow-y: auto;
          bottom: 0;
          overflow-x: hidden;
          /* padding-bottom: 40px; */
          padding: 30px;
          .close{
            position: relative;
            color: #fff;
            opacity: 1;
            font-size: 14px;
            left: 220px;
            top: 0px;
          }
        }

      }
      
      .animate {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }

      @keyframes pulse {
        0% {box-shadow: 0px 0px 0px 0px rgba(86, 99, 59, 0.72);} 
        100% {box-shadow: 0px 0px 0px 7px rgba(52, 106, 180, 0.0);}
      }
      
      .dot {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        animation: pulse 1.5s infinite ease-out;
        background: $green-light;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        &:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          padding: 8px;
          border-radius: 50%;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          background: $white;
        }
        &:nth-child(odd) { 
          animation: pulse 1.5s infinite ease-out 0.3s; 
        }
        &-1 { top: 40%; left: -14%; }
        &-2 { top: 63%; left: 55.5%; }
        &-3 { top: 123%; left: 0.5%; }
        &-4 { top: 154%; left: -30%; }
        &-5 { top: 73%; left: 75%; }
        &-6 { top: 100%; left: 10%; }
        &-7 { top: 71%; left: -30%; }
        &-8 { top: 38%; left: 35%; }
      
        @media (min-width: 768px) {
          width: 35px;
          height: 35px;
          &:before {
            width: 4px;
            height: 4px;
          }
          @keyframes pulse {
            0% {box-shadow: 0px 0px 0px 0px rgba(86, 99, 59, 0.72);} 
            100% {box-shadow: 0px 0px 0px 10px rgba(52, 106, 180, 0.0);}
          }
        }
      }
    
    .image-soldier{
      position: absolute;
      background-image: url(../images/soldier-01.png);
      width: 813px;
      height: 746px;
      right: 0;
      background-size: cover;
    }

    .image-soldier-2{
      position: absolute;
      background-image: url(../images/soldier-02.png);
      width: 914px;
      height: 766px;
      right: 0;
      background-size: cover;
    }

    .swiper-container {
        height: 715px;
    }
    .swiper-slide {
        background-image: url("../images/bg-slide.jpg");
        background-size: cover;
    }

    .-arrows{
      .swiper-button-next{
        position: absolute;
        top: auto;
        bottom: 70px;
        left: 0;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
        background-size: 18px;
        background-color: $green-light;
        width: 71px;
        height: 70px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
        transition: .5s;

        &:hover{
          background-color: $green-dark;
        }
      }
  
      .swiper-button-prev{
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
        background-size: 18px;
        background-color: $green-dark;
        width: 70px;
        height: 70px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
        transition: .5s;

        &:hover{
          background-color: $green-light;
        }
      }
    }

    @media(max-width: $screen-xs-max){
      .side-nav{
        display: none;
      }

      .nav-sample{
        background-image: url("../images/bg-menu-mobile.png");
        background-position-x: -22px;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #fff;
        /* padding: 15px 30px; */
        padding: 21px 20px 32px 34px;;
        margin-top: 12px;
        margin-bottom: 9px;
        /* .btn-default{
          background-color: transparent;
          color: $gray!important;
          padding: .5rem 1rem!important;
        } */
      }

      .image-soldier, .image-soldier-2{
        display: none;
      }

      .social{
        display: none;
      }

      .swiper-container {
          height: 400px;
      }

      .-arrows{
        .swiper-button-prev{
          width: 50px;
          height: 50px;
        }
        .swiper-button-next{
          width: 50px;
          height: 50px;
          bottom: 50px;
        }
      }
    }
}

section#sobre{
  .box-soldier{
    background-image: url("../images/soldier-about.png");
    background-size: cover;
    width: 604px;
    height: 1002px;
    position: relative;
    top: -230px;
    left: 45px;
    z-index: 2;
   
    .video{
      position: absolute;
      top: 190px;
      background-color: $white;
      color: $green-dark;
      right: 130px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      i{
        margin-left: 5px;
      }
      &:after{
        content: '';
        position: absolute;
        top: -15px;
        right: -15px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border: 1px solid $white;
      }

      &:before{
        content: '';
        position: absolute;
        top: -30px;
        right: -30px;
        border-radius: 50%;
        width: 110px;
        height: 110px;
        line-height: 80px;
        border: 1px solid $white;
      }
    }
  }

  .about-iopem{
    .title{
      color: $green-dark;
    }
  }

  .about-iopem-2{
    margin-top: 3.5rem;
  }

  @media(max-width: $screen-xs-max){
    .box-soldier{
      display: none;
    }

    .about-iopem-2{
      margin-top: 0;
    }
  }

  @media(max-width: 1400px){
    .box-soldier{
      width: 494px;
      height: 800px;
    }
  }

  @media(max-width: 1390px){
    .box-soldier{
      width: 494px;
      height: 1020px;
      background-size: contain!important;
      background-repeat: no-repeat;
    }
  }
}

section#cursos{
  margin-top: 50px;
  background-image: url(../images/bg-cursos.jpg);
  .title{
    color: $white;
    text-transform: uppercase;
    line-height: 31px;
    padding-top: 30px;
    span{
      letter-spacing: 15px;
      font-family: 'gotham-book';
      font-size: 20px;
    }
  }

  .box{
    margin-top: 50px;
    background-color: $green-dark;
    background-image: url("../images/bg-box-curso.jpg");
    background-size: cover;
    position: relative;
    min-height: 531px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

    .-exercito{
      background-image: url("../images/exercito.jpg");
      background-size: cover;
      opacity: .2;
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      min-height: 531px;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
    }

    .-marinha{
      @extend .-exercito;
      background-image: url("../images/marinha.jpg");
    }

    .-aeronautica{
      @extend .-exercito;
      background-image: url("../images/aeronautica.jpg");
    }

    .-policia{
      @extend .-exercito;
      background-image: url("../images/policia.jpg");
    }
  
  
    .text{
      padding: 170px 0;
      z-index: 1;
      position: relative;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      
      .skew{
        -moz-transform: skew(0deg, -14deg);
        -webkit-transform: skew(0deg, -14deg);
        -o-transform: skew(0deg, -14deg);
        -ms-transform: skew(0deg, -14deg);
        transform: skew(0deg, -14deg);
        .title-course{
          text-transform: uppercase;
          color: $white;
          margin: 0;
        }
    
        p{
          color: $white;
          margin: 0;
          line-height: 14px;
          span{
            font-weight: bold;
          }
        }
      }
    }

    &:hover{
      transform: scale(1.1);
      border-radius: 25px;
      z-index: 999;
      .-exercito, .-marinha, .-aeronautica, .-policia{
        opacity: .7;
        border-radius: 25px;
      }

      .text{
        padding: 240px 0px 100px 0px;
      }
  
      .overlay{
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(1,1,1,0) 0%, rgba(64,73,52,1) 100%, rgba(85,97,69,1) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(1,1,1,0) 0%,rgba(64,73,52,1) 100%,rgba(85,97,69,1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(1,1,1,0) 0%,rgba(64,73,52,1) 100%,rgba(85,97,69,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#556145',GradientType=0 );
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: -22px;
        z-index: -1;
        border-radius: 25px;
      }
    }
  }
}

section#unidades{
  margin-top: 80px;

  .title{
    color: $green-dark;
    text-transform: uppercase;
  }

  .-image-01{
    background-image: url("../images/box-unidades-01.jpg");
    background-size: cover;
    background-position: center;
  }
  .box{
    padding: 17px;
    background-color: $green-dark;
    border-radius: 25px;
    color: $white;
    font-size: 14px;

    .btn-contato{
      color: $white;
      border-radius: 100px;
      background-color: $green-light;
      padding: 3px 15px;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -o-transition: .5s;
      transition: .5s;

      &:hover{
        background-color: $green-dark;
      }
    }
  }

  .iopem-unidades{
    position: relative;
    left: -50px;
    &:after{
      content:'';
      position: absolute;
      right: -50px;
      top: 50px;
      background-color: $green-dark;
      background-image: url("../images/bg-box.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 0 25px 25px 0;
      width: 340px;
      height: 728px;
      z-index: -1;
    }

    &:before{
      content: 'Unidades próprias';
      position: absolute;
      right: -240px;
      top: 50%;
      z-index: 2;
      margin-top: -88px;
      color: #fff;
      text-transform: uppercase;
      font-size: 3em;
      font-family: 'gotham-ultra';
      transform: rotate(-90deg);
    }
  }

  .iopem-unidades-licenciadas{
    position: relative;
    left: 180px;
    &:after{
      content:'';
      position: absolute;
      left: -190px;
      top: 100px;
      background-color: $green-dark;
      background-image: url("../images/bg-box.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      border-radius: 25px 0 0 25px;
      width: 340px;
      height: 795px;
      z-index: -1;
    }

    &:before{
      content: 'Unidades Licenciadas';
      position: absolute;
      left: -420px;
      top: 50%;
      z-index: 2;
      margin-top: -88px;
      color: #fff;
      text-transform: uppercase;
      font-size: 3em;
      font-family: 'gotham-ultra';
      transform: rotate(-90deg);
    }
  }
}
@media(max-width: $screen-xs-max){
  section#unidades{
    margin-top: 30px;
    .iopem-unidades, .iopem-unidades-licenciadas{
      display: none;
    }
  }
}

section#counter-section{
  background-image: url("../images/bg-counter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  margin-top: 50px;

  .unidades{
    color: $white;
    font-family: 'gotham-ultra';
    font-size: 5em;
    position: relative;
    &:after{
      content: 'Unidades';
      position: absolute;
      left: 3px;
      bottom: -15px;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
    }
  }

  .alunos{
    color: $white;
    font-family: 'gotham-ultra';
    font-size: 5em;
    position: relative;
    &:after{
      content: 'Alunos matrículados';
      position: absolute;
      left: 7px;
      bottom: -15px;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      white-space: nowrap;
    }

    &:before{
      content: '+';
      position: absolute;
      left: -60px;
      top: 50%;
      margin-top: -60px;
      color: #fff;
      font-family: 'gotham-ultra';
    }
  }

  .title{
    color: $white;
    text-transform: uppercase;
    font-size: 4em;
    line-height: 57px;
    position: relative;
    &:after{
      content: '';
      right: 15px;
      top: 30px;
      position: absolute;
      background-image: url("../images/logo.png");
      background-size: cover;
      width: 178px;
      height: 110px;
    }

    @media(max-width: $screen-xs-max){
      &:after{
        left: 65px;
        top: 90px;
        right: auto;
      }
    }
  }
}

section#blog{
  margin-top: 50px;
  .title{
    text-transform: uppercase;
    line-height: 30px;
    span{
      font-family: 'gotham-book';
      font-weight: normal;
      letter-spacing: 12px;
      font-size: .5em;
    }
  }
  .card{
    border-radius: 25px;
    .card-img-top{
      border-radius: 25px 25px 0 0;
    }
    .card-body{
      padding: 2.25rem;
      .card-title{
        font-weight: bold;
        text-transform: uppercase;
        span{
          letter-spacing: 5px;
          font-size: 11px;
          font-weight: normal;
        }
      }

      .btn-blog{
        color: $gray;
        i{
          font-size: 14px;
        }
      }
      .card-text{
        font-size: 14px;
      }
    }
  }
}

section#newsletter{
  background-color: $green-light;
  padding: 50px 0;
  margin-top: 50px;
  .title{
    color: $white;
    font-family: 'gotham-ultra';
    text-transform: uppercase;
    font-size: 45px;
    line-height: 39px;
    span{
      font-family: 'gotham-book';
      font-size: 10px;
      letter-spacing: 10px;
    }
  }

  form{
    input{
      width: 70%;
      max-width: 100%;
      border-radius: 100px;
      padding: 17px 35px;
    }

    button{
      padding: 17px 35px!important;
      cursor: pointer;
    }
  }

  @media(max-width: $screen-xs-max){
    .title{
      font-size: 33px;
      line-height: 31px;
      span{
        font-size: 8px;
        letter-spacing: 5px;
      }
    }
  }
}

footer#footer{
  background-image: url("../images/bg-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;

  p{
    color: $white;
  }

  ul{
    li{
      a{
        color: $white;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 38px;
        border: 1px solid $white;
        display: block;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
  
        &:hover{
          background-color: $green-dark;
          border: 1px solid $green-light;
        }
      }
    }
  }

  .title{
    color: $white;
    font-size: 18px;
    font-weight: bold;
  }

  form{
    input{
      border-radius: 100px;
      padding: 10px 35px;
      border: 0;
      font-size: 14px;
    }

    textarea{
      border-radius: 25px;
      border: 0;
      font-size: 14px;
      padding: 10px 35px;
    }

    button{
      padding: 10px 35px!important;
      border: 0;
      cursor: pointer;
      width: 100%;
      outline: none;
    }
  }
}