    /*
    Flaticon icon font: Flaticon
    Creation date: 27/04/2019 01:11
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-prize:before { content: "\f100"; }
.flaticon-smartwatch:before { content: "\f101"; }
.flaticon-trophy:before { content: "\f102"; }
.flaticon-medal:before { content: "\f103"; }
.flaticon-shopping-cart:before { content: "\f104"; }
.flaticon-smartphone:before { content: "\f105"; }
.flaticon-medal-1:before { content: "\f106"; }
.flaticon-second:before { content: "\f107"; }
.flaticon-third:before { content: "\f108"; }
.flaticon-treadmill:before { content: "\f109"; }
.flaticon-running:before { content: "\f10a"; }
.flaticon-conversation:before { content: "\f10b"; }
.flaticon-headphones:before { content: "\f10c"; }
.flaticon-list-menu:before { content: "\f10d"; }
.flaticon-magnifying-glass:before { content: "\f10e"; }
.flaticon-shopping-bag:before { content: "\f10f"; }
.flaticon-add:before { content: "\f110"; }
.flaticon-mobile-application:before { content: "\f111"; }
.flaticon-cake:before { content: "\f112"; }
.flaticon-calendar:before { content: "\f113"; }
.flaticon-multiply:before { content: "\f114"; }
.flaticon-credit-card:before { content: "\f115"; }
.flaticon-favorites:before { content: "\f116"; }
.flaticon-friendship:before { content: "\f117"; }
.flaticon-home:before { content: "\f118"; }
.flaticon-female:before { content: "\f119"; }
.flaticon-pause:before { content: "\f11a"; }
.flaticon-photo:before { content: "\f11b"; }
.flaticon-piggy-bank:before { content: "\f11c"; }
.flaticon-place:before { content: "\f11d"; }
.flaticon-media-play-symbol:before { content: "\f11e"; }
.flaticon-power:before { content: "\f11f"; }
.flaticon-quality:before { content: "\f120"; }
.flaticon-right:before { content: "\f121"; }
.flaticon-footwear:before { content: "\f122"; }
.flaticon-speed:before { content: "\f123"; }
.flaticon-stopwatch:before { content: "\f124"; }
.flaticon-negative:before { content: "\f125"; }
.flaticon-sun:before { content: "\f126"; }
.flaticon-tag:before { content: "\f127"; }
.flaticon-tick:before { content: "\f128"; }
.flaticon-vertical-scroll:before { content: "\f129"; }
.flaticon-winner:before { content: "\f12a"; }
    
    $font-Flaticon-prize: "\f100";
    $font-Flaticon-smartwatch: "\f101";
    $font-Flaticon-trophy: "\f102";
    $font-Flaticon-medal: "\f103";
    $font-Flaticon-shopping-cart: "\f104";
    $font-Flaticon-smartphone: "\f105";
    $font-Flaticon-medal-1: "\f106";
    $font-Flaticon-second: "\f107";
    $font-Flaticon-third: "\f108";
    $font-Flaticon-treadmill: "\f109";
    $font-Flaticon-running: "\f10a";
    $font-Flaticon-conversation: "\f10b";
    $font-Flaticon-headphones: "\f10c";
    $font-Flaticon-list-menu: "\f10d";
    $font-Flaticon-magnifying-glass: "\f10e";
    $font-Flaticon-shopping-bag: "\f10f";
    $font-Flaticon-add: "\f110";
    $font-Flaticon-mobile-application: "\f111";
    $font-Flaticon-cake: "\f112";
    $font-Flaticon-calendar: "\f113";
    $font-Flaticon-multiply: "\f114";
    $font-Flaticon-credit-card: "\f115";
    $font-Flaticon-favorites: "\f116";
    $font-Flaticon-friendship: "\f117";
    $font-Flaticon-home: "\f118";
    $font-Flaticon-female: "\f119";
    $font-Flaticon-pause: "\f11a";
    $font-Flaticon-photo: "\f11b";
    $font-Flaticon-piggy-bank: "\f11c";
    $font-Flaticon-place: "\f11d";
    $font-Flaticon-media-play-symbol: "\f11e";
    $font-Flaticon-power: "\f11f";
    $font-Flaticon-quality: "\f120";
    $font-Flaticon-right: "\f121";
    $font-Flaticon-footwear: "\f122";
    $font-Flaticon-speed: "\f123";
    $font-Flaticon-stopwatch: "\f124";
    $font-Flaticon-negative: "\f125";
    $font-Flaticon-sun: "\f126";
    $font-Flaticon-tag: "\f127";
    $font-Flaticon-tick: "\f128";
    $font-Flaticon-vertical-scroll: "\f129";
    $font-Flaticon-winner: "\f12a";