<!DOCTYPE html>
<html>
<head>
	<?php $this->loadPage("head")?>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5Q7MPK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <?php $this->loadPage("load")?>
    <?php $this->loadPage("menu")?>

    <?php $this->content(); ?>

	<?php $this->loadPage("footer")?>
	<?php $this->loadPage("scripts")?>
</body>
</html>