/*
	Author       : html.design
	Template Name: Wizard Form with Validation - Responsive
	Version      : 1.0
*/
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  background: url(../images/cool-background.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.form-control{
    height: calc(1.5em + .75rem + 15px)!important;
}


.custom-control-label::before {
    top: 0;
}
.custom-control-label::after {
    top: 0.02rem;
}

html {
  -ms-overflow-style: scrollbar;
}

.alltrans, a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

input {
  &[type="button"], &[type="submit"] {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}

button {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

table {
  th, td {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}

.navigation-menu > li > a span:after {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  &:after {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}

.section-title:after, .service-icon, .owl-dot, .owl-nav > div, .blog-img img, .owl-nav > div:before {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.portfolio-box {
  &:after, img {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}

.portfolio-content {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a {
  color: #e52225;
  text-decoration: none;
  &:hover, &:focus {
    color: #e52225;
    outline: none;
    text-decoration: none;
  }
}

button {
  &:hover, &:focus {
    outline: none;
  }
}

.link-dark {
  color: #0f0f0f;
  &:hover, &:focus {
    color: #e52225;
    text-decoration: none;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  a:active {
    background-color: transparent;
  }
}

strong {
  font-weight: 700;
}

small, .small {
  font-size: 85%;
}

sub, sup {
  font-size: 80%;
}

p {
  margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin: 0 0 15px;
  font-weight: 700;
  color: #0f0f0f;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
}

h1, h2 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

html, body {
  height: 100%;
  width: 100%;
}

/*--- Login/Signup Modal ---*/

.wizard-main {
  padding: 30px 0px;
  position: relative;
  .title-wb {
    text-align: center;
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 500;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.carousel-inner {
  border-radius: 10px 0px 0px 10px;
}

.carousel-caption {
  text-align: left;
  left: 5%;
}

.banner-sec {
  padding-right: 0px;
  .carousel-inner .carousel-item img {
    width: 100%;
  }
  .carousel-indicators li {
    width: 6px;
    height: 6px;
    opacity: .5;
    border-radius: 3px;
    background-color: #bbb4b4;
    margin: 0px 15px;
    &.active {
      width: 12px;
      height: 13px;
      border-radius: 6px;
      background-color: #ff060a;
      position: relative;
      top: -4px;
      opacity: 1;
    }
  }
}

.carousel-item:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(../images/pattern-1.png);
  width: 100%;
  height: 100%;
}

.login-sec {
  padding: 30px 30px;
  background: #FFFFFF;
  border-radius: 0px 10px 10px 0px;
}

.login-sec-bg {
  position: relative;
  background: #FFFFFF;
}

.login-sec {
  .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
    i {
      color: #FEB58A;
    }
    a {
      color: #E36262;
    }
  }
  h2 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
    color: #DE6262;
    &:after {
      content: " ";
      width: 100px;
      height: 5px;
      background: #FEB58A;
      display: block;
      margin-top: 5px;
      border-radius: 3px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.btn-login {
  background: #DE6262;
  color: #fff;
  font-weight: 600;
}

.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
  h2 {
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    &:after {
      content: " ";
      width: 100px;
      height: 5px;
      background: #FFFFFF;
      display: block;
      margin-top: 20px;
      border-radius: 3px;
    }
  }
  p {
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
  }
}

.form-input {
  h4 {
    font-size: 18px;
    font-weight: 400;
  }
  .form-control {
    border-color: #fff;
    border-radius: 0;
    /* box-shadow: 0 0 24px rgba(91, 94, 222, 0.16); */
    font-size: 13px;
    padding: 5px 20px;
    border: 1px solid #00000026;
  }
}

.wizard, .tabcontrol {
  display: block;
  width: 100%;
  overflow: hidden;
}

.wizard a, .tabcontrol a {
  outline: 0;
}

.wizard ul, .tabcontrol ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.wizard ul > li, .tabcontrol ul > li {
  display: block;
  padding: 0;
}

.wizard > .steps .current-info, .tabcontrol > .steps .current-info, .wizard > .content > .title, .tabcontrol > .content > .title {
  position: absolute;
  left: -999em;
}

.wizard {
  > .steps {
    position: relative;
    display: block;
    width: 100%;
  }
  &.vertical {
    > .steps {
      display: inline;
      float: left;
      width: 30%;
    }
    > .steps > ul > li {
      float: none;
      width: 100%;
    }
    > .content {
      display: inline;
      float: left;
      margin: 0 2.5% .5em 2.5%;
      width: 65%;
    }
    > .actions {
      display: inline;
      float: right;
      margin: 0 2.5%;
      width: 95%;
    }
    > .actions > ul > li {
      margin: 0 0 0 1em;
    }
  }
  > {
    .steps {
      .number {
        font-size: 14px;
      }
      > ul > li {
        width: 20%;
        float: left;
      }
    }
    .actions > ul > li {
      float: left;
    }
  }
  > {
    .steps {
      a {
        display: block;
        width: auto;
        margin: 0 .5em .5em;
        font-size: 14px;
        padding: 5px 15px;
        text-decoration: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        &:hover, &:active {
          display: block;
          width: auto;
          margin: 0 .5em .5em;
          font-size: 14px;
          padding: 5px 15px;
          text-decoration: none;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }
      }
      .disabled a {
        background: #eee;
        color: #aaa;
        cursor: default;
        &:hover, &:active {
          background: #eee;
          color: #aaa;
          cursor: default;
        }
      }
      .current a {
        background: #240661;
        color: #fff;
        cursor: default;
        &:hover, &:active {
          background: #240661;
          color: #fff;
          cursor: default;
        }
      }
      .done a {
        background: #9dc8e2;
        color: #fff;
        &:hover, &:active {
          background: #9dc8e2;
          color: #fff;
        }
      }
      .error a {
        background: #ff3111;
        color: #fff;
        &:hover, &:active {
          background: #ff3111;
          color: #fff;
        }
      }
    }
    .content {
      background: #ffffff;
      display: block;
      margin: .5em;
      min-height: 440px;
      overflow: hidden;
      position: relative;
      width: auto;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
  > {
    .content > .body {
      float: left;
      /* position: absolute; */
      width: 100%;
      height: 95%;
      padding: 2.5%;
      ul {
        list-style: disc !important;
        > li {
          display: list-item;
        }
      }
      > iframe {
        border: 0 none;
        width: 100%;
        height: 100%;
      }
      input {
        display: block;
        margin-bottom: 10px;
        &[type="checkbox"] {
          display: inline-block;
        }
        &.error {
          background: #fbe3e4;
          border: 1px solid #fbe3e4;
          color: #8a1f11;
        }
      }
      label {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 13px;
        font-weight: 400;
        &.error {
          color: #8a1f11;
          display: inline-block;
          margin-left: 1.5em;
        }
      }
    }
    .actions {
      position: relative;
      display: block;
      text-align: right;
      width: 100%;
    }
  }
  > .actions > ul {
    display: inline-block;
    text-align: right;
    > li {
      margin: 0 0.5em;
    }
  }
  > {
    .actions {
      a {
        background: #240661;
        color: #fff;
        display: block;
        padding: .5em 1em;
        text-decoration: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        &:hover, &:active {
          background: #240661;
          color: #fff;
          display: block;
          padding: .5em 1em;
          text-decoration: none;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }
      }
      .disabled a {
        background: #eee;
        color: #aaa;
        &:hover, &:active {
          background: #eee;
          color: #aaa;
        }
      }
    }
    .loading .spinner {}
  }
}

.tabcontrol > {
  .steps {
    position: relative;
    display: block;
    width: 100%;
    > ul {
      position: relative;
      margin: 6px 0 0 0;
      top: 1px;
      z-index: 1;
      > li {
        float: left;
        margin: 5px 2px 0 0;
        padding: 1px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        &:hover {
          background: #edecec;
          border: 1px solid #bbb;
          padding: 0;
        }
        &.current {
          background: #fff;
          border: 1px solid #bbb;
          border-bottom: 0 none;
          padding: 0 0 1px 0;
          margin-top: 0;
          > a {
            padding: 15px 30px 10px 30px;
          }
        }
        > a {
          color: #5f5f5f;
          display: inline-block;
          border: 0 none;
          margin: 0;
          padding: 10px 30px;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .content {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
    > .body {
      float: left;
      position: absolute;
      width: 95%;
      height: 95%;
      padding: 2.5%;
      ul {
        list-style: disc !important;
        > li {
          display: list-item;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wizard {
    > .steps {
      > ul > li {
        width: 50%;
      }
      a {
        margin-top: 0.5em;
        &:hover, &:active {
          margin-top: 0.5em;
        }
      }
    }
    &.vertical > {
      .steps, .actions {
        display: block;
        float: none;
        width: 100%;
      }
      .content {
        display: block;
        float: none;
        margin: 0 .5em .5em;
        width: auto;
      }
    }
  }
}

@media (max-width: 480px) {
  .wizard > .steps > ul > li {
    width: 100%;
  }
}

.copyright.text-center {
  margin-top: 30px;
  margin-bottom: 0px;
  color: #ffffff;
  a {
    color: #eda503;
    &:hover {
      color: #ffffff;
    }
  }
}