/* .input-radius-image {
    visibility: hidden;
}

label {
    display: block;
    border: 4px solid #666;
}

.input-radius-image:checked+label {
    border-color: #ccf;
} */



/* Video */
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .bg-video-placeholder {
    display: none;
  }

  .position-relative{
      position: relative;
      height: 100vh;
  }

  .v-center {
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    left: 0;
    right: 0;
    margin: -71px auto;
  }

  .text-center{
      text-align: center;
  }

  .box-video{
    position: relative;
    width: 100%;
    height: 80vh;
    .slide-video{
      h4{
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 50px;
        span{
            font-family:  'Comfortaa', cursive!important;
            font-weight: normal;
            font-weight: bold;
        }
      }
    }
  }

  .bg-dark {
    /* background-image: url("../images/bg-video.jpg")!important;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #282b2e !important;
  }

  #owl-client img{
    width: 160px;
  }
 /*  @media screen and (max-width: 980px) {
    #owl-client img{
      width: auto;
    }
  } */

  #owl-video{
    position: absolute;
    left: 0;
    right: 0;
    margin: -80px auto;
    top: 50%;
    width: 650px;
    max-width: 90%;
    text-align: center;
    .title{
      color: #ffffff;
      margin-bottom: 20px!important;
    }
  }
 
 /*  .v-vertical {
    height: 90vh;
    line-height: 700px;
    text-align: center;
    #owl-video {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  } */

  .number-3{
    position: relative;
    &:after{
      content: 'x';
      position: absolute;
      right: 79px;
      bottom: -8px;
      color: #ffffff;
      font-size: .8em;
    }
  }
  
  .padding-section:before {
    content: "";
    display: block;
    height: 40px;
  }
/* 
  .slide-video{
    position: absolute;
    z-index: 999;
  } */

  .call-action{
    text-align: center;
    color: #ffffff;
    padding: 16px 15px;
    background-color: #ff6a17;
    display: inline-block;
  }

.text-new{
  padding-top: 80px;
}

@media screen and (max-width: 900px) {
  .text-new{
    padding-top: 10px;
  }

  .size-image{
    width: 210px;
    margin: 0 auto;
  }

  
}
.innovation {
  background-image: url("../images/parallax-3.jpg");
  background-size: cover;
  
}
.-color{
  li{
    p{
      &:after{
        background-color: #fff!important;
      }
    }
  }
}

.list-section{
  li{
    p{
      margin: 0;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        left: -16px;
        top: 50%;
        width: 5px;
        height: 5px;
        background-color: #000;
        border-radius: 50%;
        margin-top: -2.5px;
      }
    }
  }
}

.list-section2{
  li{
    p{
      margin: 0;
      position: relative;
      color: #ffffff;
      /* &:after{
        content: '';
        position: absolute;
        left: -16px;
        top: 50%;
        width: 5px;
        height: 5px;
        background-color: #fff;
        border-radius: 50%;
        margin-top: -2.5px;
      } */
    }
  }
}



a{
  text-decoration: none!important;
  &:hover{
    color: #ffffff!important;
  }
}

@media screen and (max-width: 980px) {
  .-aux1{
    padding: 0 35px;
    p{
      &:after{
        left: 10px;
      }
    }
  }
}