<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                        <a data-action="collapse">
                            <i class="ft-minus"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="reload">
                            <i class="ft-rotate-cw"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="expand">
                            <i class="ft-maximize"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="close">
                            <i class="ft-x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Cliente">Cliente</label>
                                <input type="text" required name="client" title="Cliente" value="<?php echo $this->view->obj->client ?>" class="form-control round" placeholder="Cliente">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Projeto">Projeto</label>
                                <input type="text" required name="project" title="Projeto" value="<?php echo $this->view->obj->project ?>" class="form-control round" placeholder="Projeto">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Breve Descrição">Breve Descrição</label>
                                <input type="text"  name="description" title="Breve Descrição" value="<?php echo $this->view->obj->description ?>" class="form-control round" placeholder="Breve Descrição">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Tipo (Site, App, Sistema)">Tipo (Site, App, Sistema)</label>
                                <input type="text" required name="type" title="Tipo (Site, App, Sistema)" value="<?php echo $this->view->obj->type ?>" class="form-control round" placeholder="Tipo (Site, App, Sistema)">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Valor">Valor</label>
                                <input type="text"  name="value" title="Valor" value="<?php echo $this->view->obj->value ?>" class="form-control round" placeholder="Valor">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Promoção">Promoção</label>
                                <input type="text"  name="promotion" title="Promoção" value="<?php echo $this->view->obj->promotion ?>" class="form-control round" placeholder="Promoção">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Forma de pagamento">Forma de pagamento</label>
                                <input type="text"  name="payment" title="Forma de pagamento" value="<?php echo $this->view->obj->payment ?>" class="form-control round" placeholder="Forma de pagamento">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Referencias (Separado por virgula)">Referencias (Separado por virgula)</label>
                                <input type="text"  name="references" title="Referencias (Separado por virgula)" value="<?php echo $this->view->obj->references ?>" class="form-control round" placeholder="Referencias (Separado por virgula)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Data de Validade">Data de Validade</label>
                                <input type="date"  name="shelflife" title="Data de Validade" value="<?php echo $this->view->obj->shelflife ?>" class="form-control round" placeholder="Data de Validade">
                            </div>
                        </div>
                    </div>
                    <div id="status_response" class="d-none text-center mt-2 mb-2">
                        <div class="fa-3x">
                            <i class="text-dark fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="text-center p-t-115">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="response"></div>
                            </div>
                        </div>
                    </div>
                    
                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idbudget ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button>

                    <?php if($this->view->obj->idbudget <> ''){ ?>
                        <a class="btn btn-info text-white" target="_BLANK" href="/sistema/pdfgenerator/generate/<?php echo $this->view->obj->idbudget ?>">Gerar PDF</a>
                        <a class="btn btn-primary text-white" target="_BLANK" href="/sistema/pdfgenerator/generate/<?php echo $this->view->obj->idbudget ?>?download=s">Baixar PDF</a>
                    <?php } ?>
                </form>
            </div>
        </div>
    </div>
</div>