/*Fonts*/
@font-face {
    font-family: 'avenir-medium';
    src: url('../fontes/avenir-medium.otf');
}

@font-face {
    font-family: 'avenir-bold';
    src: url('../fontes/avenir-bold.otf'); 
}

@font-face {
    font-family: 'avenir-regular';
    src: url('../fontes/avenir-regular.otf');
}

@font-face {
    font-family: 'avenir-demi';
    src: url('../fontes/avenir-demi.otf');
}

*{
    outline: none!important;
    text-decoration: none!important;
}



h1, h2, h3, h4, h5, h6, p, a, span{
    color: $white;
}

p, a, span{
    font-size: 14px;
    color: $gray-light;
}

h1{
    font-family: 'avenir-bold';
}

h2, h3, h4{
    font-family: 'avenir-bold';
}

h5, h6, a{
    font-family: 'avenir-regular';
}

.close-sidebar{
  i{
    color: $gray-dark!important;
  }
}

.card-border-alert{
  background-color: rgba(255, 85, 85, 0.123);
}

input{
    border: 1px solid rgba(185, 185, 185, 0.12)!important;
    background-color: $white!important;
    border-radius: 10px!important;
    padding: 12px 25px!important;
    -webkit-box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.05);
}
select{
  border: 1px solid rgba(185, 185, 185, 0.12)!important;
    background-color: $white!important;
    border-radius: 10px!important;
    padding: 15px 25px!important;
    -webkit-box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.05);
}

textarea{
  border: 1px solid rgba(185, 185, 185, 0.12)!important;
    background-color: $white!important;
    border-radius: 10px!important;
    -webkit-box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.05);
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 15px)!important;
}

.title{
    color: $gray-light;
    font-family: 'avenir-bold';
  }

.title-header{
    font-family: 'avenir-bold';
    color: $gray-dark;
}

.title-text{
    font-family: 'avenir-regular';
    color: $gray-light;
}

.mb-100{
    margin-bottom: 100px;
}
.card-title{
    font-family: 'avenir-bold';
    color: $gray-dark;
    font-size: 20px;
}

.alert-card{
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: $red;
    color: $white;
    font-family: 'avenir-bold';
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    @include border-radius(50%);
}

.text-red{
  color: $red;
  font-size: 24px;
}

.text-data{
  color: $red;
  font-size: 18px;
  font-family: 'avenir-bold';
}



.bg-text-gradient{
    @include gradient-orange($green-1, $green-2);
    @include border-radius(10px);
    color: $white;
    font-family: 'avenir-bold';
    font-size: 24px;
    padding: 2px 6px;

}

.badget-price{
    @include gradient-orange($green-1, $green-2);
    @include border-radius(15px);
    color: $white;
    padding: 10px 15px;
    font-family: 'avenir-bold';
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    strong{
        font-size: 20px;
        font-family: 'avenir-bold';
    }
}

.btn-back{
  color: $gray-light;
  i{
    color: $gray-light;
    font-size: 14px;
  }
}

.defaut-btn-gradient{
    color: $white;
    padding: 3px 30px;
    @include gradient-orange($green-1, $green-2);
    @include border-radius(10px);
    font-family: 'avenir-regular';
}

.defaut-btn-gradient2{
    color: $white;
    padding: 10px 20px;
    @include gradient-orange($green-1, $green-2);
    @include border-radius(10px);
    font-family: 'avenir-regular';
}

.btn-decoration{
  color: $gray-light;
  text-decoration: underline!important;
}

.defaut-btn-gradient3{
  color: $white;
  padding: 10px 20px;
  @include gradient-orange($red, $red);
  @include border-radius(10px);
  font-family: 'avenir-regular';
}

.defaut-btn-gradient4{
  color: $white;
  padding: 10px 20px;
  @include gradient-orange(#55A4FF, #55A4FF);
  @include border-radius(10px);
  font-family: 'avenir-regular';
}

.defaut-btn-outline2{
    color: $white;
    padding: 10px 20px;
    background-color: $white;
    @include border-radius(10px);
    font-family: 'avenir-regular';
    border: 1px solid $gray-light;
    color: $gray-light;

}

.defaut-dropdown-gradient{
    color: $white;
    padding: 9px 8px;
    @include gradient-orange($green-1, $green-2);
    @include border-radius(10px);
    font-family: 'avenir-regular';
}

.btn-add-cart{
    color: $white;
    padding: 7px 15px;
    background-color: #99cc00;
    @include border-radius(50px);
    font-family: 'avenir-bold';
}

.peoples{
    color: $gray-light;
    font-family: 'avenir-demi';
    text-transform: uppercase;
}

.secretaria{
    color: $gray-light;
    font-family: 'avenir-demi';
    text-transform: uppercase;
    line-height: 12px;
    display: block;
    span{
      font-family: 'avenir-regular';
      text-transform: lowercase;
    }
}


.defaut-btn-outline{
    color: $white;
    font-family: 'avenir-bold';
}

.btn-circle-gradient{
    color: $white;
    width: 40px;
    height: 40px;
    @include border-radius(50%);
    @include gradient-orange($green-1, $green-2);
    text-align: center;
    font-size: 2em;
    line-height: 40px;
    display: block;
}

.btn-circle-cart{
    color: $white;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    @include border-radius(50%);
    @include gradient-orange($green-1, $green-2);
}

.bar-little{
    width: 30px;
    height: 4px;
    display: block;
    @include border-radius(50px);
    @include gradient-orange($green-1, $green-2);
}

.bar-big{
    width: 50px;
    height: 4px;
    display: block;
    @include border-radius(50px);
    @include gradient-orange($green-1, $green-2);
}

.-border-btn{
    border: 7px solid $gray;
}

.-btn-aux{
    position: absolute;
    right: 20px;
    bottom: -30px;
  }
  #mydiv > .btn-default, #mydiv > .btn-default:active, #mydiv > .btn-default:focus {
    background:transparent;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: 'avenir-regular';
    color: $gray-light;
  }
/* .dropdown-menu{
    background-color: $gray-dark!important;
    border-radius: 15px!important;
}

.dropdown-item{
    color: $white!important;
} */

.card{
    border: 0!important;
    background-color: $white!important;
    border-radius: 25px!important;
    -webkit-box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.05);
box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.05);
}

.fixed-top{
    background-color: $white;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    @include border-radius(0 0 25px 25px);
}

.slider-product{
    margin-top: 20px;
    .card-product {
        padding: 20px;
      .img-wrap {
        position: relative;
        text-align: center;
        img {
          max-height: 100%;
          max-width: 100%;
          object-fit: cover;
        }
      }
      .info-wrap {
        padding: 0 15px;
      }
      .bottom-wrap {
        padding: 0 15px;
        a{
            margin-top: -30px;
            display: block;
        }
        i{
          font-size: 30px;
          /* margin-top: -25px;
          display: block; */
        }
      }
    }
    
    .label-rating {
      margin-right: 10px;
      color: $gray-text;
      display: inline-block;
      vertical-align: middle;
    }
    
    .card-product .price-old {
      color: $white;
      font-family: 'avenir-bold';
    }
  }

  .page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
    z-index: 999;
}

  .mobile-bottom-nav{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:998;
    //give nav it's own compsite layer
    will-change:transform;
    transform: translateZ(0);
    display:flex;	
    height:55px;
    background-color:#fff;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.18);
    @include border-radius(25px 25px 0 0);
    
    &__item{
      flex-grow:1;
      text-align:center;
      font-size:12px;
      display:flex;
      flex-direction:column;
      justify-content:center;
      color:$gray-dark;
      opacity: .5;
      i{
        color: $gray-dark;
      }
    }
    &__item--active{
      //dev
      color:$gray-dark;
      opacity: 1;

      i{
        position: relative;
        &:after{
          content:"";
          position: absolute;
          right: 25px;
          top: -3px;
          background-color: $red;
          width: 10px;
          height: 10px;
          @include border-radius(50%);
        }
      }
      
    }
    &__item-content{ 
      display:flex;
      flex-direction:column;		
    }
  }