@mixin border-radius($val){
    border-radius: $val;
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    -o-border-radius: $val;
}

@mixin rotate($val){
    -moz-transform:rotate($val);  
    -webkit-transform:rotate($val);  
    -o-transform:rotate($val);  
    -ms-transform:rotate($val); 
}

@mixin gradient-orange($color1, $color2){
    background: $color2;
    background: -moz-linear-gradient(45deg, $color1 0%, $color2 100%);
    background: -webkit-linear-gradient(45deg, $color1 0%,$color2 100%);
    background: linear-gradient(45deg, $color1 0%,$color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
}